[2014-07-30 13:41] clonedagain opened #5 "Can't enforce internal traceability, even with product_serial"
For the moment there seems to be no clear way of forcing users to enter lots/serial numbers on internal moves (see https://bugs.launchpad.net/openobject-addons/+bug/670451).
product_serial does create a field "track_internal" with a helptext that says it forces users to enter the serial number, but I found no code to support that.

[2014-07-30 13:45] clonedagain commented on #5
If there is no reference implementation in OCA, I can propose a very basic one and make product_serial depend on it.
Features would only be:
- add field "track_internal"
- add constraint to refuse internal stock moves without lots

[2014-08-14 11:20] yvaucher opened #7 "Missing labels *needs fixing* and *needs review*"
Read OCA/maintainers-tools#29 to know more about it

[2014-08-14 13:39] #7 closed, assigned to nobody

[2014-09-03 13:29] rdeheele opened #12 "a picking dispatch can be backorder of itself"
Create a picking_dispatch, save it.
You can indicate as backorder the current dispatch : backorder of itself.

Expected Behaviour:
the current dispatch should not be proposed in the backorder many2one selection.

[2014-09-03 13:42] rdeheele opened #13 "cancel meaning of a picking dispatch (functional issue)"
_Steps_
Create a picking dispatch
Add some moves.
Cancel the picking dispatch

_Identified behavior_
The moves and by extension the picking are cancelled too.

_Expected behavior_
In a functional context, it seems more coherent to "desassociate" moves from the cancelled dispatch, and don't change the move states.

Any opinions?

[2014-09-03 14:58] pedrobaeza commented on #13
I'm not so sure this must be intended behaviour. If you want to unlink moves, you just remove the dispatch. This way, you have an option to cancel moves "in batch". I would let this as is, documenting the behaviour exhaustively instead.

[2014-09-03 15:24] rdeheele commented on #13
Hi Pedro,
Your remark makes totally sense, but the issue proves that's not first sight evident and I'm thinking, as you propose, about make things clearer (comments, docs, tip...)

[2014-11-10 21:44] moylop260 opened #35 "[Question][product_serial] Migration to 8.0"
Hello,
We like migrate to 8.0 of module: product_serial
We need to know what is the guidelines for migration.
 -Use new api or use old api without problems.
 -Stock has important changes and probably refactory of this module is required.

Can you help me with guidelines of this case?

[2014-11-12 11:54] pedrobaeza commented on #35
Hi, Moisés,

You can use new API if you want, but it's not mandatory. The rest of the conventions to apply you know what they are, because we have been discussing them through maintainer-quality-tools PRs.

[2014-11-12 16:24] moylop260 commented on #35
Ok
I got it
Thank you
El nov 12, 2014 5:54 AM, "Pedro M. Baeza" notifications@github.com
escribió:

[2014-11-12 16:24] #35 closed, assigned to nobody

[2014-12-04 06:42] niecw opened #40 "Last Location search fix for product_serial"
The _last_location_id_search method provided for last_location field added to stock.production.lot in product_serial/stock.py currently only serve the Prodlots shortcut where it would provide the domain in the [('last_location_id', '=', 9)] format where 9 is the database ID of stock.location being search.  It does not suppoert searching by any means and hence searching through Advance Filter for L

[2014-12-04 08:50] pedrobaeza commented on #40
Can you please make a PR against the repo?

[2014-12-04 15:06] niecw commented on #40
Pull Request created: https://github.com/OCA/stock-logistics-workflow/pull/41

[2014-12-27 00:25] moylop260 opened #45 "[IMP] product_serial: Add constraint to deny moves with qty <> 1 on product with unique serial"
Hello,
I'm reviewed product_serial module to work with unique serial number.
But I don't found the way to work with this case.

Am I doing any bad?
Or this module is out of scope of this case?

I want dev this new feature but I'm confused of how add it.

1) I add a new module. (out of scope of product_serial module).
2) I make a pr with this feature to product_serial.

What do you think?

[2015-01-29 17:23] JordiBForgeFlow opened #56 "[7.0] [product_customer_code_picking] Error accessing to the picking associated to a manufacturing order"
Hello,
When you try to access to the picking associated to a manufacturing order, that has no partner, the following error appears:

stock-logistics-workflow/product_customer_code_picking/stock_picking.py", line 35, in _get_product_customer_code
    move.picking_id.partner_id.commercial_partner_id.id)
AttributeError: 'NoneType' object has no attribute 'id'

I will be providing a PR that fixes this

[2015-02-02 08:50] alexis-via opened #59 "8.0: stock_cancel breaks stock levels"
Here is the scenario with an up-to-date code on odoo v8:
- install the stock_cancel module
- we will use the demo product "USB Headset", which doesn't have any stock move in the demo data
- On the product form of USB headset, click on "Update" next to the Quantity on hand and set a qty of 10.
- Create a new sale order with 1 sale order line with 2 USB headset. Confirm it and transfer the picking.

[2015-02-02 08:54] alexis-via commented on #59
If you continue the scenario and you re-transfer the picking, the "Quantity on hand" for USB Headset = 6 (it should be 8).

[2015-02-02 09:06] pedrobaeza commented on #59
Please directly disable the module until we fix this.

[2015-02-02 09:31] alexis-via commented on #59
@pedrobaeza I don't have commit rights, so I leave you do that. We urgently need to fix the bad data to restore good stock levels (I'm working on this at the moment, help appreciated) ; and we also need to fix the bug of course.

[2015-02-02 09:47] alexis-via commented on #59
The issue is clearly linked to the fact that we don't take into account the stock.quant object when we re-open a picking. But it's still unclear to me what a stock.quant represent in v8. Do you know ?

[2015-02-02 10:32] pedrobaeza commented on #59
OK, I'll do it in a couple of hours and investigate the best way to do it.

[2015-02-02 13:29] pedrobaeza commented on #59
I have put it as not installable in https://github.com/OCA/stock-logistics-workflow/commit/533bb1a3e3d845a84c3f897cb490df02fb11a71f.

[2015-02-02 14:00] alexis-via commented on #59
@pedrobaeza
OK, good. Now, we urgently need to find a way to fix the bad stock.quants. I started to work on it, but it's really not easy at all. I dream that we could delete all stock quants and re-generate them all, but I'm not sure we can do that.

[2015-02-02 14:04] pedrobaeza commented on #59
Yeah, in a first glance, I see that the problem is the propagation of the data across stock.quants. Maybe first restrict this cancel only for the base case (this stock hasn't been used)?

[2015-02-02 14:46] jgrandguillaume commented on #59
Hi,

I don't think we can ever re-create all the quants because they don't contain only quantity information, but prices that are stored only there. So if you drop them, you lose this valuable information (and may other).

This is why we should not be able to cancel a picking IMO. It was ok before quants appear, but now, it'll introduce quite a lot of trouble.

This module may want to implement a

[2015-02-02 15:24] alexis-via commented on #59
@jgrandguillaume
I agree with you ; stock_cancel was working fine on versions before v8 i.e. before stock.quant was introduced ; now it's not possible any more. I have uninstalled the module on the Odoo v8 server of my customer where it was installed.

But my question today is the following: I have wrong stock levels caused by the use of stock_cancel during a few weeks in a production database ; h

[2015-02-02 15:43] lepistone commented on #59
I'm sorry I did some code review but I didn't notice the fundamental problem with this. Indeed in v8 validating moves does many complex things -- it makes stock reservations, creates, splits and moves quants, among others.

A quant represents information about a few specific items in stock, and allows us to distinguish this item that we bough yesterday for $400 from that other one we got from some

[2015-02-02 21:21] anajuaristi commented on #59
Hello:

To recreate the correct inventory for products you only need to make that... an inventory. Even if you delete all quants, your inventory will recreate all of them and if I'm not mistaken, inventory will be valuated using each product avg cost from its form record

I could not exactly give the definition of a quant but it basically collects relation between
product quantity location lot and

[2015-02-02 21:38] anajuaristi commented on #59
About @jgrandguillaume proposal, I think he gave me a very simple idea... Let me share with you...

Joels proposal will be functionally correct...
Supose done movement origin= location1, destiny=location2
First stock picking would create one quant on location2 and would make desappair quant in location1
Second one (reverse) would create one quant on location1 and would make desapair quant in locat

[2015-02-03 07:59] jgrandguillaume commented on #59
@alexis-via I think I would go for the Ana's solution: make an inventory. This would correct the data. If I had to do it, I would make a script using Erppeek (https://pypi.python.org/pypi/ERPpeek):

1) Compute for every product / location the quantity using the stock.move

2) Create an inventory for every product/location according to the result of 1)

3) Post the inventory

This way, your stock l

[2015-02-05 07:56] gurneyalex commented on #45
@moylop260 make a PR.

[2015-02-05 07:56] #45 closed, assigned to nobody

[2015-02-05 10:18] gurneyalex opened #62 "stock_route_transit: transit picking type src and dest locations not updated"

[2015-02-10 09:31] gurneyalex opened #66 "build broken by recent changes in odoo/odoo"
Commit https://github.com/odoo/odoo/commit/675357b7d7b broke the build by causing failures in the tests of stock_dropshipping_dual_invoice

https://travis-ci.org/OCA/stock-logistics-workflow/jobs/50039271#L313

[2015-02-10 09:32] gurneyalex commented on #66
@lepistone could you check whether this is an issue in stock_dropshipping_dual_invoice or in odoo/odoo?

[2015-02-10 10:14] lepistone commented on #66
It is indeed a regression introduced yesterday. I pinged Olivier who is fixing it, so probably no need for a PR or issue. I'll report back here.

[2015-02-11 09:18] lepistone commented on #66
It is now fixed, and the fix has been propagated to OCB.

[2015-02-11 09:18] #66 closed, assigned to lepistone

[2015-02-16 16:50] #62 closed, assigned to gurneyalex

[2015-02-19 16:25] eLBati commented on #59
Hi all, following @anajuaristi idea, here is my proposal https://github.com/OCA/stock-logistics-workflow/pull/72

[2015-02-20 12:19] gurneyalex opened #73 "stock_ownership_availability_rules: traceback on install"
Steps to reproduce:
1. use OCB branch (did not check with official)
2. first install `stock_route_sales_team` and `stock_dropshipping_dual_invoice` with demo data
3. Then install `stock_ownership_availability_rules`

I get:

[code]

[2015-02-20 12:19] gurneyalex commented on #73
@lepistone could you look into this when you get some spare time?

[2015-02-24 05:32] yostashiro opened #74 "stock_ownership_availability_rules disables stock accounting"
No journal entry gets generated for stock valuation from receipt/delivery after installing this module even when the owner of the stock is the company.

According to stock_account module, accounting valuation entry is designed not to be generated in case a quant has an owner.
https://github.com/odoo/odoo/blob/8.0/addons/stock_account/stock_account.py#L113

[2015-02-24 06:44] yostashiro commented on #74
A module to fix the issue (temporary use): https://github.com/rfhk/awo-custom/tree/master/stock_account_adjust

[2015-02-24 09:19] lepistone commented on #74
Thanks @yostashiro for the report!

Indeed the module makes the owner required, using the current company as owner by default, so that line needs to be changed to something like

[code]

However, this is a long method, and to change that line, we'll probably have to duplicate the whole method.

Any ideas? (ping @gurneyalex)

[2015-02-24 09:35] lepistone commented on #74
I can't think of a more clever fix than to redefine the whole method with that line changed. If you could make a pull request towards `stock-ownership-availability-rules` I'd be glad to review it. Thanks!

[2015-02-27 10:09] hurrinico opened #77 "[7.0] [stock_picking_deliver_uos] Error on Partial Delivering with user different from admin"
Test Case:
Using a user different from admin
Create a Delivery Order, create a line with product quantity > 1
Deliver the order partially using the wizard, changing uos quantity.
Return Warning:
Quantities, Units of Measure, Products and Locations cannot be modified on stock moves that have already been processed (except by the Administrator).
I will be providing a PR that fixes this issue.

[2015-03-03 08:44] hurrinico opened #79 "[8.0] stock_picking_invoice_link Error on Invoice creation"
When i create 1 invoice from 2 or more pickings, on invoice's picking_lines appear only one picking.
I will be providing a PR that fixes this issue.

[2015-03-04 11:14] yostashiro commented on #74
Hi @lepistone,
I could not think of a better way to handle the issue.  Appreciate your review.

[2015-03-05 10:42] lepistone commented on #73
I checked: the module contains a pre-init hook that creates a new `Environment` and then work with it. This doesn't seem to work anymore, because the models are not initialized (`_fields` is `{}`).

It's probably less of a pain to rewrite that logic in SQL than find out what broke that.

[2015-03-17 07:21] #73 closed, assigned to lepistone

[2015-03-18 12:11] gurneyalex commented on #74
@lepistone maybe a PR on odoo could be made for this?

(cc @jgrandguillaume)

[2015-04-02 07:50] clonedagain opened #95 "Feature request: new put-away strategy "First empty location""
We have a requirement to add a new put-away strategy, which would let us substitute a destination location with one of its empty sub-locations.
The standard lets us easily substitute a location for another but they are fixed locations, whereas our users want the system to propose a new location each time (basically we have 1 location = 1 pallet).

Does someone in the community have a module which

[2015-05-11 11:06] lapagept opened #109 "Unbale to see stock_cancel in my modules list"
Hello guys,
Is this something special I should know about stock_cancel? Unable to see this module in module list. I have proceeded Like usuallly... Permission, owner checked...
What is the problem...
Help pleasae

[2015-05-11 11:40] yvaucher commented on #109
Please see #59

stock_cancel is disabled in `__openerp__.py` as it was dangerous in 8.0

[2015-05-11 11:54] lapagept commented on #109
So, I imagine it is better to wait before to retry it. Thanks

[2015-05-11 13:25] #109 closed, assigned to nobody

[2015-05-15 14:06] clonedagain opened #110 "Feature request : "lock" lots/serial numbers"
We and others have the need to "lock" arbitrary serial numbers/production lots for various reasons (usually related to quality control).
Basically, while a lot is locked, no stock move and reservation can be allowed.

[2015-05-15 14:06] clonedagain commented on #110
OdooMRP has an implementation of this feature in https://github.com/odoomrp/odoomrp-wip/tree/8.0/mrp_lock_lot .
I'm willing to help improve this module and bring it to OCA, @pedrobaeza would you agree ?

[2015-05-15 14:07] pedrobaeza commented on #110
Yeah, of course. This module is ready for OCA.

[2015-05-15 15:07] clonedagain commented on #110
@pedrobaeza the README file reads _"Changes in manufacturing, and delivery orders, to selecting the locked bundles is prevented."_ but I see no trace of this in the code.
Is it implemented, or should I add an extra check to prevent users to manually set the serial number to a blocked one ( ie. in the "transfer details" wizard or in the "produce" wizard) ?

[2015-05-15 15:12] pedrobaeza commented on #110
This README is a bit outdated. We found a way to lock in all places: modifying the quant get domain, so every operation that uses it (standard does for reserving), doesn't take this quantities into account.

[2015-05-15 15:39] clonedagain commented on #110
@pedrobaeza the module doesn't depend on `mrp` anymore.
Would it be OK for you if I drop the dependency and rename the module to `stock_block_lot` ?

[2015-05-15 15:49] pedrobaeza commented on #110
OK, I agree. Please put a symbolic link for not loosing current installations.

[2015-06-01 08:58] yvaucher opened #114 "Missing readme.rst and readme to update"
- [x] stock_picking_invoice_link #107 (module was not ported) @tafaRU

To update (not following template, AGPL logo, OCA maintainers, etc):
- [x] picking_dispatch #115
- [x] stock_cancel #116
- [x] stock_dropshipping_dual_invoice #117

[2015-06-01 09:17] florian-dacosta commented on #114
I am on it!

[2015-06-01 09:43] florian-dacosta commented on #114
Actually, it is already done in this work in progress PR : https://github.com/OCA/stock-logistics-workflow/pull/107

[2015-06-01 10:08] yvaucher commented on #114
Thanks for the pointer

[2015-06-01 14:08] yvaucher commented on #79
Fixed by #80

[2015-06-01 14:08] #79 closed, assigned to nobody

[2015-06-01 14:20] Doscaal commented on #114
update README.rst for picking_dispatch module PR : #115

[2015-06-01 15:09] Doscaal commented on #114
update README.rst for stock_cancel module PR : #116

[2015-06-05 13:50] tafaRU commented on #114
All tasks are completed, I close the issue than.

[2015-06-05 13:50] #114 closed, assigned to nobody

[2015-07-01 03:49] yostashiro opened #125 "[8.0] stock_ownership_availability_rules fails to reserve quants in Reverse Transfer to supplier"
### Impacted versions:
- 8.0
### Steps to reproduce:
1. create a quant with incoming picking with **owner != company**
2. click on 'Reverse Transfer' to return the quant back to supplier to generate an outgoing picking
### Current behavior:

The move record in generated outgoing picking does not have the quant reserved (unlike the standard behavior).  You need to open the move and manually assign

[2015-07-01 04:03] yostashiro commented on #125
`quants_get_prefered_domain` method in Quant assigns the wrong `owner_id` in this scenario, which causes the system to fail in identifying quants in standard `quants_get` method (in stock/stock.py).

Here is a tentative fix in my environment.  However, it is not a generic solution as my case assumes that quantity is always 1 per lot_id and there cannot be multiple quants per lot.

[code]

There mi

[2015-07-02 17:03] mileo opened #126 "[7.0] Duplicate invoice when stock_picking_invoice_link is instaled"
When trying to duplicate an invoice with related pickings you are blocked by this constraint.

odoo/addons/stock.py:
class stock_picking
...
    _sql_constraints = [
        ('name_uniq', 'unique(name, company_id)', 'Reference must be unique per Company!'),
    ]

[2015-07-09 09:39] clonedagain commented on #5
Please remove the WIP tag. I'm not working on this anymore  - our PR was closed and we're moving to v8 where the feature is standard.
Feel free to close the issue if you feel "upgrade to v8" is a sufficient fix.

[2015-07-09 09:45] clonedagain opened #127 "Feature request: stock_picking_invoice_link, Print the liste of pickings on invoices"
In France (and probably elsewhere) it's now mandatory to print the delivery date of the goods on invoices.
Since `stock_picking_invoice_link` adds the list of pickings on the invoice form, I suggest we extend stock_picking_invoice_link to print the picking references and delivery dates at the bottom of the invoices.

[2015-07-09 09:48] clonedagain commented on #127
We currently have a clumsy implementation of this, not clean enough for OCA but sufficient for us.
If there's enough interest and no-one proposes a patch, we can rewrite our implementation and propose it. Please let @lbellier and I know.

[2015-07-09 09:51] pedrobaeza commented on #127
Better than in footer, it can be interesting to group lines by picking, printing a line that acts as group and picking information

[2015-07-09 11:27] dcorio commented on #127
@pedrobaeza +1
that's a required feature (mandatory by law) here in Italy.
we actually group the invoice lines by DdT (document of transport), which is the equivalent of the spanish albarán (am i right Pedro?), but the grouping by picking is a must-have IMO.

[2015-07-09 12:17] clonedagain commented on #127
OK what about just printing the delivery date of the stock move on each invoice line ?

[2015-07-09 12:24] pedrobaeza commented on #127
@dcorio, certainly in spanish it is called "albarán".

@clonedagain, it's better to have all the information (picking number, picking date, and so on), and then you can customize hiding what you want. I know that this is more difficult to achieve, but it's a very common need.

[2015-07-09 14:24] eLBati commented on #126
Thanks @mileo
this https://github.com/OCA/stock-logistics-workflow/pull/128 should fix it

[2015-07-10 16:18] ghost commented on #127
I have a v7 module that does this - someone could take it, remove the client specific stuff, and use it.

[2015-07-10 17:44] pedrobaeza commented on #126
Close as #128 is merged

[2015-07-10 17:44] #126 closed, assigned to nobody

[2015-08-21 10:16] erocre opened #144 "picking_dispacht traceback when creating a new picking dispacht"
When I try to create a new picking dispatch, I find next error (I can continue working after this closing the popup):
2015-08-21 09:39:30,865 5816 ERROR base_stock openerp.http: Exception during JSON request handling.
Traceback (most recent call last):
  File "C:\Program Files (x86)\Odoo 8.0-20150723\server.\openerp\http.py", line 537, in _handle_exception
  File "C:\Program Files (x86)\Odoo 8.0-2

[2015-08-31 16:21] OpenCode opened #147 "[8.0] [stock_picking_package_preparation] fields weight and net_weight in view raise an Assertion"
If I insert weight and net_weight field on stock_picking_package_preparation form view, when I try to create a new record, I obtain this:

[code]

[2015-09-03 04:43] ybofr opened #148 "Short dump when clicking create on picking dispatch"
Steps to reproduce:
1. select menu operations/picking dispatch
2. Press create.

Thanks

I just added the screen shot
<img width="1129" alt="picking_dispatch_-_odoo" src="https://cloud.githubusercontent.com/assets/7601880/9650703/9c06ea04-51fe-11e5-8576-160175fd94f7.png">

[2015-09-03 04:48] ybofr opened #149 "Picking dispatch: field picker can be empty, the system considers it as assigned"
Steps to reproduce:
1. Create a picking dispatch
2. Add some stock moves
3. Click assign (the field picker is empty, still)
<img width="972" alt="picking_dispatch_-_odoo" src="https://cloud.githubusercontent.com/assets/7601880/9650748/3bffb7b6-51ff-11e5-967b-2e662a9c21c8.png">

<img width="1040" alt="picking_dispatch_-_odoo" src="https://cloud.githubusercontent.com/assets/7601880/9650756/586498e0-

[2015-09-04 05:45] ybofr opened #150 "picking_dispatch: Short dump of availability check when the stock is not available"
Steps to reproduce

1.Create a material of type stockable material
2. Create a sales order
3. Confirm the sales order
4. Create a picking dispatch
5. Add the newly created delivery order to the picking
6. Save and press availability check
<img width="1126" alt="picking_dispatch_-_odoo" src="https://cloud.githubusercontent.com/assets/7601880/9677329/895cb956-52d0-11e5-8af5-fed36a6096c7.png">

[2015-09-04 05:56] ybofr opened #151 "picking_dispatch: cancel does cancel all the moves in the dispatch"
Hi,

Not sure, if it is a feature or a bug. But when I press on cancel, without any warning, all moves are cancelled. I believe in a warehouse environment, this is very difficult to manage and quite dangerous, if a lot of moves are cancelled without warning.

Regards
Eva P.

[2015-09-04 06:38] ybofr opened #152 "package_preparation: The selection of the partners brings the user and the partner"
Hi,

When I want to select a partner for package preparation, I am not expecting to have all users also in the selection, but rather customers and suppliers.

Best regards
Eva P.

[2015-09-04 06:53] ybofr opened #153 "package_preparation: Package done does a transfer of the goods"
Hi,

I have an issue with the button "package done". It should not do the transfer as I may want to package it further. Can you please explain the logic in the workflow.

My expected workflow is:
- Select product to package, select the packaging, packaging is finished.
  The actual workflow is:
  - Select product to package, select packaging, transfer within the packaging preparation.
    How to d

[2015-09-04 07:10] ybofr opened #154 "package_preparation: Package done does a transfer of the goods"
Hi,

I have an issue with the button "package done". It should not do the transfer as I may want to package it further. Can you please explain the logic in the workflow.

My expected workflow is:
- Select product to package, select the packaging, packaging is finished.
  The actual workflow is:
  - Select product to package, select packaging, transfer within the packaging preparation.
    How to d

[2015-09-04 07:22] ybofr opened #155 "stock_picking_reorder_lines: No number available"
Hello,

I have installed the module, but I do not see the number. I can only drag and drop the lines to reorganise them. This only works when I have a very small delivery. With more than 20 lines, I am not really able to move the last delivery item to the first position.

Thanks for the help/remarks

Eva P.

[2015-09-04 07:33] ybofr opened #156 "stock_transfer_split_multi: Should not split units in half units"
Hi,

I was able to split ONE unit into half a unit, what is wrong from the functional side.

But I have noticed that this is also the case with Odoo. It accepts part of units.

Thanks

Eva P.

[2015-09-21 08:02] danielDomatix opened #163 "Error when creatring new picking with stock_picking_reorder_lines"
I'm trying to create a new picking and i have that error: ValueError: max() arg is an empty sequence.

I FIX it adding that line: if picking.move_lines, because the problem is that if yo don't have any line, it's impossible to find a max sequence.

[2015-09-21 08:05] pedrobaeza commented on #163
Can you please make a PR with the proposed solution (which is correct)?

[2015-09-29 11:03] rafaelbn opened #165 "[8.0][BUG] stock_dropshipping_dual_invoice - Error bringing payment data to invoice from company and customer"
module: stock_dropshipping_dual_invoice
version: 8.0

**Steps to reproduce**

To reproduce this bug you must install also module account_payment_partner: https://github.com/OCA/bank-payment/tree/8.0/account_payment_partner
- Define in you company a Bank account which customer will pay you.
- Choose a product that has a supplier.
- Choose a customer who has defined (or define it) fields:
  - proper

[2015-10-07 08:51] OpenCode commented on #147
Solved by https://github.com/OCA/stock-logistics-workflow/commit/b0455f8a329bb00d4a7b59141c04e7e8a7658ef3

[2015-10-07 08:51] #147 closed, assigned to nobody

[2015-10-14 00:55] pedrobaeza opened #167 "Migration to version 9.0"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-9.0
# Modules to migrate
- [ ] mrp_lock_lot
- [ ] picking_dispatch > stock_batch_picking - Assigned to @cyrilgdn - #241
- [ ] picking_dispatch_wave
- [ ] product_customer_code_picking
- [ ] product_serial
- [ ] stock_cancel
- [x] stock_disable_force_availability_button - By @nicomacr - #278
- [ ] stock_dropshipping_dual_invo

[2015-11-02 16:39] JMODaERP opened #174 "[8.0][BUG] stock_split_picking"
Module: stock_split_picking
version: 8.0

Steps to reproduce.
• Create a sale order with two lines of product.
• Define for each one a quantity. For example 83 units for each one.
• Confirm sale order.
• View delivery order.
• Check Availability and force it.
• Transfers  and moves, each product,   a smaller amount to the initial quantity. By example 10 units.
Current behavior
     \* The system c

[2015-11-02 16:46] JMODaERP opened #175 "[8.0][BUG] stock_split_picking - error when spliting move.lines in stock.picking"
Module: stock_split_picking
version: 8.0

**Steps to reproduce.**
- Create a sale order with two lines of product.
- Define for each one a quantity. For example 83 units for each one.
- Confirm sale order.
- View delivery order.
- Check Availability and force it.
- Transfers  and moves, each product,   a smaller amount to the initial quantity. By example 10    units.

**Current behavior**
- The sy

[2015-11-02 17:08] JMODaERP commented on #174
duplicated https://github.com/OCA/stock-logistics-workflow/issues/175

[2015-11-02 17:08] #174 closed, assigned to nobody

[2015-11-02 18:16] rafaelbn commented on #175
@nbessi @guewen @yvaucher we have this issue and after un-installing stock_split_picking module issue disappears. Any idea?

[2015-12-02 10:57] JMODaERP commented on #175
cc @rafaelbn

[2015-12-04 08:50] OpenCode commented on #163
PR: https://github.com/OCA/stock-logistics-workflow/pull/184

[2015-12-09 10:31] #163 closed, assigned to nobody

[2015-12-10 14:40] maurochip commented on #175
I've just submited a pull request that fixes this issue... it's seems to be working right.

[2015-12-10 16:01] rafaelbn commented on #175
@JMODaERP please review FIX here: https://github.com/OCA/stock-logistics-workflow/pull/185

[2015-12-11 08:31] yvaucher commented on #167
Starting to port stock_split_picking

[2015-12-11 08:49] pedrobaeza commented on #167
Please take into account https://github.com/OCA/stock-logistics-workflow/pull/185

[2015-12-11 08:50] yvaucher commented on #167
@pedrobaeza I'm on it already

[2015-12-12 01:11] rafaelbn commented on #165
ping @JavierIniesta @JMODaERP please check date a opened this issue.

cc @pedrobaeza

[2016-01-11 14:22] clonedagain opened #189 "Advanced features for blocked lots/serial numbers"
As a follow-up to #110, we developed the following features which could be proposed to OCA is there is interest:
- [x] restrict blocking/unblocking to a specific group: https://github.com/numerigraphe/stock-logistics-workflow/tree/8.0-stock-lock-lot-group/stock_lock_lot#configuration
- [x] enforce strict blocking, forbidding users to force the move: https://github.com/numerigraphe/stock-logistics-

[2016-01-11 14:51] clonedagain commented on #189
@pedrobaeza @alfredoavanzosc @oihane @lbellier for your information: some extensions to mrp_lock_lot and stock_lock_lot.

[2016-01-11 16:17] jkrenzer opened #190 "check_unicity_qty_available fails with unique_lot active when move is split in wizard"
Odoo: 8.0 (git)
Module: product_unique_serial 8.0.1.0.1 (git branch 8.0)

Problem:
When a picking with quantity N > 1 is received with unique_lot set and the move is split up into single itmes in the move-wizard with the native button to assign unique serial numbers, function check_unicity_qty_available fails with "Product X has active 'unique lot' but with this move you will have a quantity of N

[2016-01-19 14:51] Mitconsulting opened #191 "How can I delete Stock Move in 'Done' state?"
How can I delete Stock Move in 'Done' state?

[2016-01-19 16:54] Mitconsulting commented on #191
How to remove a sale order in "done" state?

[2016-01-20 22:42] pedrobaeza commented on #189
They seems interesting indeed. Go ahead with the PRs and I'll review then!

[2016-01-26 10:45] Cedric-Pigeon opened #196 "[8.0] stock_split_spicking Why is only allowed to split outgoing or incoming shipment ?"
I would like to split internal shipment.

[2016-01-26 10:45] Cedric-Pigeon commented on #196
@gurneyalex Do you have an opinion ? Thanks

[2016-01-26 12:38] JordiBForgeFlow opened #197 "[8.0] [stock_ownership_availability_rules] Incompatible with real-time inventory valuation"
Module 'stock_ownership_availability_rules' sets an owner to the quant, even when the quant belongs to the company. However module "stock_account" in method "_account_entry_move" will define that if the quant has an owner, it assumes that the owner is a third party, regardless if the actual owner IS the company.

[2016-01-27 07:16] jgrandguillaume commented on #197
Hi,

That's sad... I tend to think, looking at this module, that we can get rid of it. I think we should not force to set the owner if it belong to the company.

The main purpose of this module is to ensure not to take stock from another company when delivering goods.

My2cents,

Joël

[2016-01-27 09:13] laetitia-gangloff commented on #197
Not directly related to this issue, but related to the module stock_ownership_availability_rules. I reported the following PR : https://github.com/OCA/stock-logistics-workflow/pull/195

The button "update quantity" is not compatible with this module, because the generated inventory do not set owner on line, and the theorical quantity is computed on quants with the same owner than inventory line.

[2016-01-27 09:20] JordiBForgeFlow commented on #197
In order to solve this issue, I propose to add a separate module 'stock_account_ownership_availability_rules" that solves this issue. What do you think?

[2016-01-30 14:35] yostashiro commented on #197
@jbeficent I made this PR https://github.com/OCA/stock-logistics-workflow/pull/100 before to fix the issue.  Haven't had the time to properly follow up.

[2016-02-01 17:02] #110 closed, assigned to nobody

[2016-02-02 10:49] eLBati commented on #154
@ybofr AFAIK it is not possible with the current version of the module.
@guewen is  it correct?

[2016-02-02 10:50] eLBati commented on #153
Duplicate of https://github.com/OCA/stock-logistics-workflow/issues/154
Please close

[2016-02-02 10:53] eLBati commented on #56
Hi @jbeficent can this be closed?

[2016-02-02 10:59] guewen commented on #154
If I understand what you want to do, this is not possible with this module. I think you can't do multi-level packaging directly in the package preparation. Couldn't you have a picking in several steps to have a multilevel packaging before to use the package preparation?

FYI the original use case we had was:
- we have a delivery in 2 or 3 steps
- in the first/two step(s), we put the products in pa

[2016-02-02 10:59] #153 closed, assigned to nobody

[2016-02-02 11:06] JordiBForgeFlow commented on #56
Yes, I'm closing.

[2016-02-02 11:06] #56 closed, assigned to nobody

[2016-03-30 16:22] sdalexander opened #217 "module: stock_dropshipping_dual_invoice version: 8.0"
Hi
My name is steve alexander and I am an Odoo ready partner from the UK.

I have installed the module: stock_dropshipping_dual_invoice v8.0 for a client  to manage stock direct delivery from a supplier to a customer and to raise both the supplier and the customer invoices.

I have followed the settings recommended in the module however, when I check both Invoices that it has produced, I find that

[2016-03-30 16:26] pedrobaeza commented on #217
Please reproduce it on runbot, and put the steps made to get to that error.

[2016-04-02 09:41] sdalexander commented on #217
HI pedro
I have tested on runbot and it works fine, so I have traced it to another module that has been written for the client that must be affecting the production of the Invoice.
I will close this issue
thanks

[2016-04-02 09:41] #217 closed, assigned to nobody

[2016-04-08 12:07] cyrilgdn commented on #167
Starting to work on picking_dispatch.

[2016-04-08 12:50] pedrobaeza commented on #167
Please rename it to _stock_picking_dispatch_ to follow conventions.

[2016-04-13 14:32] eLBati commented on #59
About reopening cancelled pickings, I opened https://github.com/OCA/stock-logistics-workflow/pull/222

[2016-05-04 11:26] sandrafig opened #229 "[8.0] [stock_picking_back2draft] Sale order DONE instead of OPEN"
**Module:** stock_picking_back2draft

**Steps to reproduce:**
1. Create a sale order for 100 units of any product.
2. Transfer 50 units of product.
3. Cancel the transfer of the 50 remaining units.
4. Click on picking Back to draft.
5. Mark as To Do.

**Problem:**
- The sale order is in state "DONE" even though the picking is not done.
- Invoice control on the picking is Not Applicable.

**Expecte

[2016-05-09 09:56] hbrunn commented on #175
cherry pick of the actual fix in #230

[2016-05-20 19:14] jjscarafia commented on #190
:+1: Same error
I believe it is solved by https://github.com/OCA/stock-logistics-workflow/pull/213
Please test and review it

[2016-06-01 19:44] manuelfcordoba opened #232 "Hi, is anyone working on this?"
module: stock_cancel
version: 8.0

**Steps to reproduce**
- ...

**Current behavior**

**Expected behavior**

[2016-07-09 00:40] rafaelbn commented on #165
@pedrobaeza @antespi I'm not sure if you fixed this issue. Do you remember?

[2016-07-11 12:52] jkrenzer commented on #190
As far as I can see, it works now. Thank you. :)

[2016-08-08 08:58] ehahouimohssine commented on #191
ODOO prevents you removing a stock move that the status Done has (For accounting reasons). If you have accidentally put something on done. You must correct this by creating a new stock move. It makes easier to track the sock moves. If you, for some reason want to remove the stock moves, you can remove it from the database through an SQL command. (This is not recommended)

This is also for sales or

[2016-08-08 09:06] pedrobaeza commented on #191
This is not an issue of the repository, so I close. Please make the questions in Odoo forums.

[2016-08-08 09:06] #191 closed, assigned to nobody

[2016-08-09 09:18] gurneyalex commented on #196
@Cedric-Pigeon feel free to submit a PR for this :smile_cat:

[2016-08-26 10:13] yajo commented on #167
stock_picking_show_returns by yourself #251 :wink:

[2016-09-08 03:14] andhit-r opened #255 "No accounting entries created when stock_ownership_avalaibility_rules installed, even for real time valuation"
Hi,

Steps to reproduce:
1. Install **stock_ownership_avalaibility_rules**
2. Create product with _Real Time_ valuation
3. Create PO to purchase that product
4. Transfer receipt

Expected behaviors:
1. stock.move on Receipt will create accounting entry (account.move)

Result:
1. No accounting entry created

It might be because stock_ownership_avalaibility_rules module make owner_id on stock.quant

[2016-09-08 03:15] andhit-r commented on #255
Ups sorry duplicate with https://github.com/OCA/stock-logistics-workflow/issues/197. Closing

[2016-09-08 03:15] #255 closed, assigned to nobody

[2016-09-08 03:19] andhit-r commented on #197
I confirm this issue. @jbeficent would you share your idea?

[2016-10-04 08:33] Cedric-Pigeon commented on #196
@gurneyalex Done: https://github.com/OCA/stock-logistics-workflow/pull/264

[2016-10-06 14:10] pedrobaeza opened #265 "Migration to version 10.0"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-10.0
# Modules to migrate
- [ ] picking_dispatch_wave
- [ ] product_customer_code_picking
- [ ] product_serial
- [ ] stock_batch_picking
- [ ] stock_cancel
- [ ] stock_deposit
- [x] stock_disable_force_availability_button - By @rousseldenis - #338
- [ ] stock_dropshipping_dual_invoice
- [x] ~~stock_filter_none_zero_qty~~ - N

[2016-10-14 00:20] pedrobaeza commented on #196
Closing as solved

[2016-10-14 00:20] #196 closed, assigned to nobody

[2016-10-21 01:15] fedexin40 opened #273 "Calculate qty_available takes a lot of time"
Hello everyone, @pedrobaeza

I am using the module stock_filter_none_zero_qty in v7. But apply "Real stock" filter takes a lot of time for finishing.

An looking for the main cause of the problem I noticed that in https://github.com/OCA/stock-logistics-workflow/blob/7.0/stock_filter_none_zero_qty/product.py#L59, the operations are made including all items. But the function does not care if there i

[2016-10-21 06:25] pedrobaeza commented on #273
I'm afraid there's no better way to handle this, as at that level you don't know any other argument/domain that can help you to limit the search. What you can do is to switch the field to an store field, but the difficult thing is to create the correct store triggers that update the quantity when needed.

My best advice here is to migrate to version 8 as soon as possible.

[2016-10-21 06:25] #273 closed, assigned to nobody

[2016-10-24 19:07] fedexin40 commented on #273
@pedrobaeza  thanks for your help and advice

[2017-01-12 06:15] rmehta opened #290 "Documentation / Screenshots for workflows"
Hello is there a way to find documentation / screenshots for this module? I searched online but was not able to find it.

[2017-01-12 07:04] pedrobaeza commented on #290
Hi, Rhushab, there are a lot of modules inside this repository. Are you talking about one in particular?

[2017-01-12 07:12] rmehta commented on #290
In general?  We are planning to upgrade manufacturing module in ERPNext and thought this might be a good reference point. Relevant discussion: https://discuss.erpnext.com/t/enhancing-the-manufacturing-module/18401/29

If there is no documentation, maybe I can get someone to take a screenshots and post it on the wiki?

[2017-01-18 10:37] dedisinaga opened #292 "[9.0] [stock_picking_invoice_link] Previous customer invoice linked to backorder DO"
Module : stock_picking_invoice_link for version 9.0

Suppose I have 1 SO with 1 kind of product with qty=3.
I create Invoice from sales order partially (eq. 2), for eq. INV-0001
Then I release the DO partially using 2 quantity, with back order (WH/OUT/0001 as delivered and WH/OUT/0002 as available), INV-0001 is still linked into WH/OUT/0002.

This is not the correct way I think. In WH/OUT/0002 the

[2017-01-18 10:38] pedrobaeza commented on #292
If the behavior is the described, indeed you're right. Can you provide a PR with the fix?

[2017-01-18 10:43] dedisinaga commented on #292
I am trying to find the correct way too. If I can solve this, I will submit the PR.
Thanks

[2017-02-15 02:51] lasley opened #304 "[RFC] delivery_internal: Internal Carriers"
This module will add an `internal` option to delivery carriers. Checking this option will allow for the selection of a `res.company` that the carrier belongs to.

When a `stock.picking` is validated and is to be shipped via an internal carrier, a `RFP` (Request for Pickup) is created for the company that the carrier is assigned to.

This RFP will also create two `stock.pickings` for the carrier, i

[2017-02-18 02:55] lasley commented on #232
Doesn't look like it. Closing

[2017-02-18 02:55] #232 closed, assigned to nobody

[2017-02-18 02:58] lasley commented on #290
@rmehta - Each module is managed independently, and all screenshots would be in the `ReadMe.rst` inside of each folder inside of this repo.

We also have a runbot, which allow for functional testing. The link should be located inside of each ReadMe.

In most instances this documentation is slim, particularly in terms of screenshots. Help is always welcome!

I'm going to close this issue, because I

[2017-02-18 02:58] #290 closed, assigned to nobody

[2017-03-06 16:14] piqoni commented on #265
Hi there,
Very new to this project (starting from today :) ). Tried to migrate `stock_batch_picking` module to 10 but when I try to install it, it complains when trying to import pooler.py (which is removed in https://github.com/odoo/odoo/commit/3019f4a48d465fc36e7edef4622e1317751fbff8) I saw that it is an old wrapper - do you have any suggestion/info/resource on how to substitute pooler.py?

[2017-03-07 14:18] leorochael commented on #265
@piqoni, open a new PR with your attempt so we can comment on it, and mention it here, then we can add comments to your PR to help you along.

In the specific case you mention, I suggest just dropping [the lines from `PrintBatch.__init__()`](https://github.com/OCA/stock-logistics-workflow/blob/5f181a03299821e87c857b9b9fd1b919bde86f0c/stock_batch_picking/report/print_batch.py#L16):

        self.po

[2017-03-07 17:20] piqoni commented on #265
@leorochael Thank you.

I started it here https://github.com/OCA/stock-logistics-workflow/pull/307

[2017-03-17 02:48] pedrobaeza commented on #165
Already solved

[2017-03-17 02:48] #165 closed, assigned to nobody

[2017-04-12 17:34] lasley commented on #304
Closing to track in #323

[2017-04-12 17:34] #304 closed, assigned to nobody

[2017-04-21 21:27] max3903 opened #324 "partner_credit_limit"
At @ursais, we have a module to block the delivery order if the customer is over his credit limit.

This repo seems like the best fit to host it.

Any feedback?

[2017-04-22 07:19] JordiBForgeFlow commented on #324
See this:
https://github.com/OCA/sale-workflow/pull/434

I think that the block should occur ay sales order level, not delivery order. Sometimes you want to ship products to the customer and not be blocked by the credit limit. Like in RMA.

It would be cool to build on top of sale_delivery_block, blocking the sales order when the customer has exceeded the credit limit. Then only a manager or accou

[2017-04-22 07:30] pedrobaeza commented on #324
@jbeficent see my comments on the PR that modules overlapping functionality are already proposed by us before.

[2017-04-22 09:02] JordiBForgeFlow commented on #324
@pedrobaeza do you mean https://github.com/OCA/sale-workflow/pull/434#issuecomment-292292471?

[2017-04-22 09:05] pedrobaeza commented on #324
Actually I mean https://github.com/OCA/stock-logistics-workflow/pull/325#issuecomment-296318600

[2017-04-24 21:19] #324 closed, assigned to max3903

[2017-04-26 06:06] fanha99 commented on #265
hi, why the "stock_disable_force_availability_button" module is not in the list?

[2017-04-26 07:10] pedrobaeza commented on #265
Because it wasn't present in the branch before creating the new version branch. But that's not a problem. You can migrate it the same although not in this list.

[2017-05-13 07:49] cubells opened #330 "[BUG] stock_deposit: missing method in model"
When you browse to a product form from within another model and click on smart button "in deposit",

![prova01](https://cloud.githubusercontent.com/assets/4386443/26023644/6a273d72-37c1-11e7-8bbe-bbdd449c9b7f.jpg)

an error is raised because method is missing:

![prova02](https://cloud.githubusercontent.com/assets/4386443/26023653/7ad5d7dc-37c1-11e7-835f-b7b79838e30a.jpg)

[2017-05-18 17:33] pedrobaeza commented on #330
cc @sergio-teruel

[2017-05-30 08:20] pedrobaeza commented on #330
Already solved

[2017-05-30 08:20] #330 closed, assigned to nobody

[2017-07-12 13:40] wkharrat opened #346 "many sentinel users"
Hi,

we use sentinel.py with scaners, when the number of users reaches 70 the system begin to slowdown, if i restart odoo service everything ok, i have db and python in separate servers. How can i fix this?

Regards

Walid

[2017-07-13 07:41] rousseldenis commented on #346
We use sentinel for years, but without this amount of users.
The system is quite stable and fast.
Maybe you should look into processes and memory usage, your problem description is a little bit vague.

[2017-07-28 06:28] upsens opened #349 "Problem installation DDT module"
Hello i have odoo 10 and i try to install the module DDT. My problem is that i recieve this error:

Traceback (most recent call last):
  File "/opt/odoo/odoo-10.0/odoo/http.py", line 638, in _handle_exception
    return super(JsonRequest, self)._handle_exception(exception)
  File "/opt/odoo/odoo-10.0/odoo/http.py", line 675, in dispatch
    result = self._call_function(**self.params)
  File "/opt/

[2017-08-08 01:11] bistaray commented on #265
Starting work on stock_move_backdating (to v10)

[2017-08-18 06:35] joergfederspiel opened #354 "[10.0] [stock_auto_move] Missing keyword in method "action_assign" in stock_move.py"
In the module stock_auto_move there is a keyword missing in method action_assing in stock_move.py:
[code]

Original method from stock_move:
[code]

Maybe the method in stock_auto_move should look like this:
[code]

[2017-08-18 10:27] usmanfarzandali opened #355 "Stock Move Backdating Upgradation for Odoo 10c"
Please Upgrade Stock Move Backdating for Odoo 10c

[2017-08-18 10:35] pedrobaeza commented on #355
Sorry, but this is not a wishlist. The module will be migrated when someone voluntarily contribute with that migration, or is somebody pays someone for doing that migration.

[2017-08-18 10:35] #355 closed, assigned to nobody

[2017-08-18 10:45] usmanfarzandali commented on #265
@bistaray Thank you Sir...

[2017-08-21 07:19] tafaRU commented on #349
It misses the dependency https://github.com/OCA/stock-logistics-workflow/tree/10.0/stock_picking_package_preparation_line
I close than.

[2017-08-21 07:19] #349 closed, assigned to nobody

[2017-09-05 12:07] chrisdec opened #360 "[9.0 and 10.0] Default quantities on picking transfer"
Hello,

Some of our customers complain about picking's transfer in Odoo 10.

In version 8.0, when you click "transfer" on a picking, you have a new window with the scheduled quantity for each product line.  So if you schedule to transfer 50 products but you receive only 49 products, you only change quantity of the missing product on the new window and you click "apply".

Now, in version 9 or 10, i

[2017-09-05 12:09] pedrobaeza commented on #360
I prefer that it simply put by default the full quantities instead of changing the flow.

[2017-09-05 12:13] chrisdec commented on #360
Yes, it was our first idea but @lmignon is afraid that maybe users will click "validate" without check the quantities.

[2017-09-05 12:15] pedrobaeza commented on #360
You can include in the button the attribute `confirm="Are you sure the quantities are correct?"` or something similar to reinforce the previous check.

[2017-09-05 12:54] rousseldenis commented on #360
I think the flow in v10 was quite better (I hope it will be completed in v11).

- The standard mechanism will ask you first if you want to transfer the whole quantities if you didn't change any line.

- If you change one line quantity, indeed, you have to enter quantity on each line.

- In that case, I'd prefer a button on the top of lines (pack operations) that fill the scheduled quantities (with

[2017-09-05 13:36] pedrobaeza commented on #360
Yeah, the button is a great idea also, although as said, there are other possibilities with standard, like making a backorder of only the not completed line, and then another directly with the rest. The only missing workflow is when you have a mix of not received/sent lines, half lines and full lines.

[2017-09-05 13:45] rousseldenis commented on #360
That 'missing' workflow can be done through pushing the button 'Fill scheduled quantities' and then change the quantities for the half rest lines ;-)

[2017-09-05 13:51] pedrobaeza commented on #360
Indeed

[2017-09-05 14:02] zakiuu commented on #360
couldn't agree more and I've done something similar for a client with the packs

[2017-09-05 15:26] sbidoul commented on #360
So last question is how to name this module?

[2017-09-05 15:28] pedrobaeza commented on #360
`stock_picking_all_done_button`?

[2017-09-05 15:37] rousseldenis commented on #360
I'd prefer stock_pack_operation_fill_quantities (for v10)

[2017-09-05 15:39] pedrobaeza commented on #360
Then use the singular form in any case: `stock_pack_operation_fill_qty`. I don't like a lot this name, but you decide.

[2017-09-05 16:24] zakiuu commented on #360
maybe `stock_pack_operation_auto_fill`?

[2017-09-05 17:16] lmignon commented on #360
:+1: for stock_pack_operation_auto_fill

[2017-09-06 10:56] zakiuu commented on #360
I've just created a 9.0 PR for this issue, your feedback is more than welcome, thx!

[2017-09-08 15:50] AaronHForgeFlow commented on #265
stock_picking_show_backorder: https://github.com/OCA/stock-logistics-workflow/pull/362

[2017-09-21 18:27] ellis opened #371 "[10.0] stock_delivery_internal crashes"
Hi Guys - I found your addon through the Odoo website.  Is it supposed to be working yet?  I'm getting the following error when I click on [Validate] for an internal transfer with an `Internal` carrier selected.

[code]

Does that trace give you any clue about the source of the error?  Anything else I should try or information I should provide?

[2017-10-03 10:29] comansa opened #375 "Transfer date (date_done) of stock_picking calculated when splitting"
When use the "split button" on an stock picking, the transfer date (date_done) of the original one is calculated, even if its in an not in "Transferred state".
Furthermore, when it is transferred using the "transfer button", it doesn´t calculate the correct date.

[2017-10-03 10:32] rousseldenis commented on #375
@comansa Could you explain in which environment (version) you are and which modules are involved ?

It's a little bit tricky to guess what problem you face.

[2017-10-03 10:58] comansa commented on #375
Yes, of course. It happens when using the module "stock_split_picking" in an Odoo v8 system

[2017-10-03 15:01] pedrobaeza opened #377 "Migration to version 11.0"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-11.0

# Modules to migrate

- [ ] picking_dispatch_wave
- [ ] product_customer_code_picking
- [x] product_expiry_simple - By @alan196 - #393
- [ ] product_serial
- [ ] stock_auto_move
- [x] stock_batch_picking - By @carlosdauden - #437
- [ ] stock_cancel
- [ ] stock_change_price_at_date
- [ ] stock_delivery_internal
- [ ] st

[2017-10-30 08:43] ccandito opened #383 "Stock Delivery Internal"
Dear All,
I've tried to use this app and a short dump's occurred.
Please find below its system log
regards
claudio candito

Traceback (most recent call last):
  File "/usr/lib/python2.7/dist-packages/odoo/http.py", line 640, in _handle_exception
    return super(JsonRequest, self)._handle_exception(exception)
  File "/usr/lib/python2.7/dist-packages/odoo/http.py", line 677, in dispatch
    result

[2017-11-13 09:34] jcdrubay opened #386 "RFC: new module stock_reservation_condition to avoid automatic booking of quants in some conditions"
We are going to create this module and submit to OCA for version 10.
Please share your thoughts if you think that design can be improved and therefore benefit more people or let us know if you know a some module already doing this.
Thanks in advance for your contributions.

# The idea/ objective
Change the mechanism of reservation of products when the user confirms the quotation/ SO and when the s

[2017-12-26 16:56] lmgr0312 commented on #377
Hello

I'm going to migrate the module "stock_picking_transfer_lot_autoassign"

Regards

[2017-12-26 16:58] pedrobaeza commented on #377
OK, noted.

[2017-12-26 18:57] ougc27 commented on #377
Hello

I'm migrating the module stock_picking_mass_assing to V11.

The PR is #390

Regards!

[2017-12-27 12:36] fanha99 opened #391 "[11.0][stock_no_negative] bug while Receipts product"
reproduce:
- in the inventory, create a Receipts
- add a product to receive
- because you couldn't edit "Initial Demand" value, so it will always zero.
- edit the done value, 10 for example
- save and validate, it will always show up the negative stock error

[2017-12-27 12:39] fanha99 commented on #391
@etobella, could you please help to check?

[2017-12-27 13:16] etobella commented on #391
You are right. The problem is that it is checking the vendor location place for no negative stock and it shouldn't be checked. Today, I will make a PR in order to solve this problem.
Thanks for the issue 👍

[2018-01-05 02:17] alan196 commented on #377
Hello

I'm migrating the module product_expiry_simple to V11.

The PR is https://github.com/OCA/stock-logistics-workflow/pull/393

Regards

[2018-01-09 05:38] samy-m-dev opened #394 "stock_available_unreserved error when access Product Form"
Since last commit https://github.com/OCA/stock-logistics-warehouse/commit/e6a5a0dbbf3cac8fdcdd8ba426d78f71189e2419

We have an error when opening the product form:

KeyError on qty_available_not_res
qty = res[tmpl.id]['qty_available_not_res']

[2018-01-09 08:34] rousseldenis commented on #394
@webtekindo @lreficent There is an improvement in computing available quantities with https://github.com/OCA/stock-logistics-warehouse/pull/305

I think the problem you are describing is solved there.

Can you test it ?

[2018-01-09 08:39] JordiBForgeFlow commented on #394
@mreficent Can you review?

[2018-01-10 13:10] MiquelRForgeFlow commented on #394
I tested on runbot the https://github.com/OCA/stock-logistics-warehouse/pull/305 and it's true that the problem described here is solved there.

[2018-01-10 13:27] rousseldenis commented on #394
@mreficent @jbeficent @Cedric-Pigeon Can we move forward on that PR to improve stability on available quantities computation ?

[2018-01-10 13:52] lmignon commented on #394
@rousseldenis OCA/stock-logistics-warehouse#305 LGTM

[2018-01-10 14:15] LoisRForgeFlow commented on #394
https://github.com/OCA/stock-logistics-warehouse/pull/305 is merged.

[2018-01-10 14:15] #394 closed, assigned to nobody

[2018-01-13 21:53] fmdl commented on #377
stock picking show return : https://github.com/OCA/stock-logistics-workflow/pull/397
stock picking show backorder : https://github.com/OCA/stock-logistics-workflow/pull/398

[2018-01-22 06:15] jaronemo opened #401 "[10.0][stock_no_negative]This is bug?or configure error?"
produce this error:
1. product A ...100 on hand ...on the  WH/Stock/1D52
2.stock.picking create ..origin location: WH/Stock, Dest location: Virtual/Customer, qty 60
3.if reserve, stock.move ...origin location is change to WH/Stock/1D52.
4.if user change this locaiton 1D52 to WH/Stock or other sub location...and validate this stock.picking
5. product A on WH/Stock/1D52 is 100....Wh/Stock is -60

Un

[2018-01-22 08:04] pedrobaeza commented on #401
This is because you are trying in test mode, and this is disable in that mode.

[2018-01-22 08:04] #401 closed, assigned to nobody

[2018-01-22 08:54] jaronemo commented on #401
disable ？how to do?

[2018-01-22 08:56] pedrobaeza commented on #401
Don't add --test-enable to your server.

[2018-01-22 09:06] jaronemo commented on #401
Dear sir:
thank you!..
But... i only use this command :
![image](https://user-images.githubusercontent.com/8476734/35212851-813b878c-ff96-11e7-9362-6d5856c2bf9e.png)

[2018-01-22 09:10] pedrobaeza commented on #401
Then it should work correctly.

[2018-01-23 00:17] jaronemo commented on #401
Dear Sir:
Yes... is should work correctly..
But...always is go to test mode.....

[2018-03-01 18:54] ccandito opened #406 "Stock Disallow Negative does not work out"
Dear All,
I've implemented it and negative stock occurred.
Regards
claudio Candito

[2018-03-01 18:59] rousseldenis commented on #406
Hi,

Could you please give some details about your environment:

The module version you use and please describe exactly the use case you
have.

Le 1 mars 2018 7:54 PM, "Claudio Candito" <notifications@github.com> a
écrit :

[2018-03-02 08:08] ccandito commented on #406
Dear Denis,
I'm working on Odoo 10 and the app version is 10.0.1.0.0.
One of the business case I did is to deliver from sales order 100 pcs with 93 on stock.
After forcing the availability, the goods movement has been performed and the stock has became -3 pcs.
Regards
claudio candito

[2018-03-06 12:01] aitorbouzas opened #408 "Help on PR"
Hello,

I have my repository ready for a PR on stock_picking_invoice_link. How can I make the PR? I followed https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-11.0 these steps for adapting de module.

[2018-03-06 12:04] pedrobaeza commented on #408
Make a PR on the branch. https://odoo-community.org/page/code

[2018-03-06 12:04] #408 closed, assigned to nobody

[2018-03-06 12:14] aitorbouzas commented on #377
stock_picking_invoice_link: #409

[2018-04-19 20:32] amaroosolutions opened #419 "Forecasted stock take in stock"
Hi, Great module but I have found a slight issue, With purchasing installed if you raise a PO for a product it is classing this as available stock but this could still be weeks away from delivery. Should it not look at the stock on hand figure rather than the forecasted quantity?
Tested on V11

[2018-04-20 05:14] pedrobaeza commented on #419
Which module?

[2018-04-20 05:53] amaroosolutions commented on #419
Sorry the module is “Stock Disallow Negative”  (stock_no_negative) v11

[2018-04-20 05:56] pedrobaeza commented on #419
That module is not taking into account forecasted quantity. Just it doesn't allow negative quants.

[2018-04-20 05:56] #419 closed, assigned to nobody

[2018-05-01 12:01] pedrobaeza commented on #74
Added a warning in the README in 523555fd72d381ec7ca59b0900580cda122aa13a

[2018-05-01 12:01] #74 closed, assigned to nobody

[2018-05-03 14:16] eLBati commented on #265
Hi @bistaray any news about ```stock_move_backdating```?

[2018-05-04 11:08] HaraldPanten commented on #406
Hi Denis, Claudio,

I've been trying this module as well but I couldn't make it work. I'm using Odoo 10.0-20180303 (Community Edition).

1- I created a stockable product (product A) without stock. Stock 0.

2- The "Allow Negative Stock" checkbox was NOT selected in both options. Product form and Product category.

3- I created a Quotation, I tried to sell 10 units of product A and I confirmed the

[2018-05-04 11:16] rousseldenis commented on #391
@etobella,  @fanha99 Is this also on 10 ? Refer to https://github.com/OCA/stock-logistics-workflow/issues/406

[2018-05-04 11:29] rousseldenis commented on #406
Tested on runbot and confirmed.

@alexis-via Do you have time to look at this ?

[2018-05-04 11:31] pedrobaeza commented on #406
This condition for tests can be disturbing things: https://github.com/OCA/stock-logistics-workflow/blob/10.0/stock_no_negative/models/stock_quant.py#L19

[2018-05-04 11:33] rousseldenis commented on #406
@pedrobaeza Agree.

As it is a critical process, we have to ensure this works as expected.

[2018-05-04 12:15] ccandito commented on #406
thanks a lot
claudio

2018-05-04 13:08 GMT+02:00 Harald Panten <notifications@github.com>:

[2018-05-05 11:21] pedrobaeza commented on #406
Fixed in #424

[2018-05-05 11:21] #406 closed, assigned to nobody

[2018-05-07 14:08] tafaRU commented on #265
I started to work on migration of `stock_move_backdating`.
Unfortunately I'm already stuck after having executed:
`git format-patch --keep-subject --stdout origin/10.0..origin/8.0 -- $MODULE | git am -3`.

Below you can see the error:

[code]

It's raised: https://github.com/github/git-msysgit/blob/master/git-am.sh#L154

Any hints would be greatly appreciated!

[2018-05-07 14:13] pedrobaeza commented on #265
This is because not a very good commit history (with pull/merges). You have to fix manually conflicts, and type `git add --all` and `git am --continue` several times until everything is fixed.

[2018-05-07 14:34] tafaRU commented on #265
Thanks @pedrobaeza!
Fortunately I fixed by using https://stackoverflow.com/questions/13190679/error-while-applying-a-patch-in-git In other words by using `git am --keep-cr`.
See: https://github.com/tafaRU/stock-logistics-workflow/tree/10.0-mig-stock_move_backdating

[2018-05-07 14:43] pedrobaeza commented on #265
Uhm, interesting. I didn't know about that option. I would check in other cases if this applies the same. It's not very frequent however that this happens.

[2018-05-08 20:54] rousseldenis commented on #360
@chrisdec solved ?

[2018-05-08 20:56] rousseldenis commented on #354
Solved by https://github.com/OCA/stock-logistics-workflow/commit/abf3b78867f8895eaa1dfa6833ad9234749b3622#diff-6c4deb5223a1179458086e1b9659d512

[2018-05-08 20:56] #354 closed, assigned to nobody

[2018-05-08 21:03] rousseldenis commented on #386
@jcdrubay Is this still relevant ?

[2018-05-08 21:05] rousseldenis commented on #383
@ccandito Can you confirm that this is not caused by sale_order_type module as there is no line getting through sale_delivery_internal ?

[2018-05-08 21:08] rousseldenis commented on #346
@wkharrat Any news from this ?

[2018-05-08 22:14] ccandito commented on #383
Dear Denis,
it could be.
I've implemented sale_order_type because it is very useful for fiscal purposes also.
What I should do?
thanks in advance
claudio candito

[2018-05-09 07:28] wkharrat commented on #346
Thanks for your replay, finally we use multiple python servers and every 40 users connected to 1 server

[2018-05-09 07:36] #346 closed, assigned to nobody

[2018-05-09 08:43] chrisdec commented on #360
yes :)

[2018-05-09 08:46] #360 closed, assigned to nobody

[2018-05-10 12:27] tafaRU commented on #265
Migration of `stock_move_backdating`: https://github.com/OCA/stock-logistics-workflow/pull/426

[2018-05-11 04:34] jcdrubay commented on #386
We have done the module and we will submit it when we have time. Whoever needs it, let us know and we will speed-up the release process. Regards, JC

[2018-05-11 04:44] JordiBForgeFlow commented on #386
Hi, this is very interesting, and we might neef it for ddmrp. Could you
publish your latest code?

El vie., 11 may. 2018 6:34, Jean-Charles Drubay <notifications@github.com>
escribió:

[2018-05-14 09:42] tafaRU opened #429 "[10.0][stock_ownership_availability_rules]: incompatible with Perpetual inventory valuation"
The module `stock_ownership_availability_rules` seems to be incompatible with Perpetual inventory valuation. See https://github.com/odoo/odoo/blob/10.0/addons/stock_account/models/stock.py#L92 as reference.

With this module installed no accounting entries will be automatically created.

[2018-05-22 08:17] tafaRU commented on #355
@odoogit, see https://github.com/OCA/stock-logistics-workflow/pull/426 and please review it.

[2018-06-12 14:59] Jortolsa-S73 commented on #265
Migration of stock_cancel : #418

[2018-06-13 13:26] CasVissers-360ERP opened #434 "[11.0] stock_picking_invoice_link, picking link not removed when removing invoice line"
When the invoice line of a related picking in an invoice is removed. The relation is not removed.

Reproduce:

1. create invoice from sale order with multiple deliveries
2. check how many pickings are linked
3. Remove one the invoice lines
4. Same amount of pickings are linked

[2018-06-18 14:07] meigallodixital commented on #391
Is there any blocking issue with the PR on OCB v11?
Seems to build for OCB but not for Community.
Is it OK to go for OCB V11?

[2018-06-18 14:41] pedrobaeza commented on #391
@meigallodixital AFAIK, this has nothing to do with OCB.

[2018-07-02 23:11] pedrobaeza commented on #434
Yeah, that's true, but you have to check that there are no other invoice lines also linked. Maybe you can propose a PR with these improvements, or at least, specifying this as a known issue.

[2018-07-11 17:09] #391 closed, assigned to nobody

[2018-09-04 13:15] SimoRubi commented on #377
Migrating stock_picking_package_preparation_line in https://github.com/OCA/stock-logistics-workflow/pull/447

[2018-09-04 13:17] SimoRubi commented on #377
Migrating stock_picking_package_preparation in https://github.com/OCA/stock-logistics-workflow/pull/448

[2018-09-27 00:39] OCA-git-bot opened #457 "Migration to version 12.0"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-12.0

# Modules to migrate

- [ ] mrp_stock_picking_restrict_cancel - By @kittiu - #518
- [x] product_cost_price_avco_sync - By @carlosdauden - #610
- [ ] product_expiry_simple - By @alexis-via - #532
- [x] product_supplierinfo_for_customer_picking - By @mreficent - #581
- [x] purchase_stock_picking_restrict_cancel - By @kit

[2018-10-02 08:15] rousseldenis commented on #386
@jcdrubay

[2018-10-02 08:26] rousseldenis commented on #375
I've just tested on runbot. The date_done is never filled in when splitting.

I close this. Please feel free to reopen it.

[2018-10-02 08:26] #375 closed, assigned to nobody

[2018-10-02 08:27] rousseldenis commented on #229
@sandrafig Can you provide which version do you use ?
We will close this as it is very old

[2018-10-02 08:31] rousseldenis commented on #229
@sandrafig Checked this on runbot. That flow works as expected. Closing

[2018-10-02 08:31] #229 closed, assigned to nobody

[2018-10-02 08:42] rousseldenis commented on #371
@woodbrettm

This is confirmed

[2018-10-02 08:44] rousseldenis commented on #383
@ccandito Duplicate of #371

[2018-10-02 08:44] #383 closed, assigned to nobody

[2018-10-02 08:46] rousseldenis commented on #434
@mreficent @sergio-teruel  could you check at this ?

[2018-10-02 08:47] rousseldenis commented on #175
#230 is merged. So, closing this

[2018-10-02 08:47] #175 closed, assigned to nobody

[2018-10-02 08:50] rousseldenis commented on #156
I think this is a misconfiguration on product units (you have to  configure Unit with 1 as rounding precision).

I close this as this is very old. Please feel free to reopen it

[2018-10-02 08:50] #156 closed, assigned to nobody

[2018-10-02 08:54] rousseldenis commented on #155
The line number is not visible on form view because it can only be modified with the drag and drop.

I close this as this is a very old issue

[2018-10-02 08:54] #155 closed, assigned to nobody

[2018-10-02 08:58] rousseldenis commented on #152
In fact, these 'users' are partners too.
I think this is too restrictive, you maybe want to deliver to partners that are not customers or suppliers (depending on the transfer type)

Closing this as it is very old. Please feel to reopen it.

[2018-10-02 08:58] #152 closed, assigned to nobody

[2018-10-02 08:59] rousseldenis commented on #154
@ybofr The correct flow is as @guewen explained.

I close this as it is very old. Please feel free to reopen it

[2018-10-02 08:59] #154 closed, assigned to nobody

[2018-10-02 09:01] rousseldenis commented on #151
@ybofr You can also use the 'stock_picking_back2draft' module which do what you expect.

I will close this as it is very old. Please feel free to reopen it.

[2018-10-02 09:01] #151 closed, assigned to nobody

[2018-10-02 09:02] rousseldenis commented on #150
#214 is merged, closing

[2018-10-02 09:02] #150 closed, assigned to nobody

[2018-10-02 09:05] rousseldenis commented on #149
@ybofr This is normal. The picker is mandatory when you want to start picking.

I close this as it is very old. Please feel free to reopen it.

[2018-10-02 09:05] #149 closed, assigned to nobody

[2018-10-02 09:08] rousseldenis commented on #127
@clonedagain What the status of this? I think as it is very old, it can be closed.

[2018-10-02 09:14] rousseldenis commented on #5
I close this as it is very old and fix seems to have been provided

[2018-10-02 09:14] #5 closed, assigned to nobody

[2018-10-02 09:36] jcdrubay commented on #386
We will try to publish asap :) Do you think you may need it for the current Code Sprint?

[2018-10-02 09:39] rousseldenis commented on #386
No, that's because this is some months old. Just to have heartbeat :smile:

[2018-10-02 15:08] woodbrettm commented on #371
@lasley

[2018-10-12 01:33] jcdrubay commented on #386
Actually, we had published it for a while: https://github.com/OCA/stock-logistics-workflow/pull/387/files

[2018-11-02 09:20] andrius-preimantas commented on #457
stock_split_picking: #469

[2018-11-30 13:56] aitorbouzas commented on #377
What happened to `stock_picking_back2draft`?

[2018-12-02 20:54] pedrobaeza commented on #377
It was not present in branch 10.0 when this issue was automatically created. Any way, I don't consider it very useful, now that you can unlock pickings, cancel SO/PO and validate again, etc.

[2018-12-06 07:14] natthanank opened #481 "Does this module work with refunded invoices?"
It work when I create invoice normally, but when I create refund invoices  it doesn't work.

[2018-12-06 07:47] rousseldenis commented on #481
@natthanank Hi! Could you please give more explanation and details about your problem? Which module do you want to use, which version,...

[2018-12-06 12:48] natthanank commented on #481
I use stock_picking_invoice_link module in Odoo 10 :(

[2018-12-29 04:33] emagdalenaC2i commented on #457
There is a PR to the migration of stock_picking_sale_order_link - By @hegenator - #470

[2018-12-29 04:52] emagdalenaC2i commented on #377
@pedrobaeza Please, check stock_pack_operation_quick_lot - By @sergio-teruel - #454 and this module is renamed as stock_move_quick_lot

stock_picking_mass_assign - By @ougc27 - #390 is closed and superseded by #460 (it is renamed as stock_picking_mass_action) and is already migrated and merged
Also check stock_picking_mass_action - By @mpanarin - #460

Please add to the list stock_picking_sale_ord

[2019-01-05 08:05] bodedra commented on #481
@natthanank I have reviewed `stock_picking_invoice_link` module code and haven't found any evidence to support refund invoices.

[2019-01-05 11:35] #481 closed, assigned to nobody

[2019-01-06 23:05] emagdalenaC2i commented on #377
@pedrobaeza the PR number in stock_picking_invoice_link - By @Softdil - #409 By @chienandalu - #415 should be #416 instead of 415

[2019-01-07 05:58] rousseldenis commented on #377
Done

[2019-01-11 16:03] eLBati commented on #457
stock_picking_package_preparation: https://github.com/OCA/stock-logistics-workflow/pull/488

[2019-01-12 19:49] eLBati commented on #457
And stock_picking_package_preparation_line with https://github.com/OCA/stock-logistics-workflow/pull/489

[2019-02-06 01:24] b-kannan opened #495 "stock_picking_backorder_strategy module fails to return backorder record"
@api.multi
    def _create_backorder(self, backorder_moves=None):
        if backorder_moves is None:
            backorder_moves = []
        res = False
        # Do nothing with pickings 'no_create'
        pickings = self.filtered(
            lambda p: p.picking_type_id.backorder_strategy != 'no_create')
        pickings_no_create = self - pickings
        pickings_no_create.mapped('move_line

[2019-02-06 08:11] rousseldenis commented on #495
I confirm the problem.

[2019-02-06 16:32] rousseldenis commented on #495
Did the fix : #496

[2019-02-06 16:38] rousseldenis commented on #495
:smile: @max3903

[2019-02-06 16:45] max3903 commented on #495
aha :) Up to you, man. No hard feeling.

[2019-02-06 16:45] max3903 commented on #495
Ah but yours is on v10... :+1:

[2019-02-07 09:22] #495 closed, assigned to b-kannan

[2019-02-21 14:27] mhdsyarif opened #504 "[11.0]Feature request: stock_no_negative, create product into stock.move.line if stock.qty <= 0 at the time of sale confirmation"
Feature request: stock_no_negative, create product into stock.move.line if stock.qty <= 0 at the time of sale confirmation.
-----
When making a Sale Order with product stock <= 0, then upon confirmation of sale, the product is not in stock.move.line

[2019-02-21 14:31] rousseldenis commented on #504
Hi @mhdsyarif, thank you for your request.

Could you be a little bit more explicit on the flow you are testing? Maybe, you could add some screenshots ?

Thanks

[2019-02-22 04:44] mhdsyarif commented on #504
Hi @rousseldenis,
Scenario in video
[https://drive.google.com/open?id=1KcmSiqzi8-HCEtjJnVUOOmVftjqcYmfOv](url)
Thanks

[2019-02-26 13:02] meigallodixital opened #507 "[12.0] Migration stock_no_negative"
I am migrating stock_no_negative to 12.0, and while it detects the negative stock and raise the validation error, lets follow and sell stock that we do not have.

I do not know if this is the use case and I have misunderstood the module behaviour, or it is a bug. I understand that a ValidationError should block the operation, right?

[2019-02-26 13:50] pedrobaeza commented on #507
Is this happening also in v11? If so, then the module can be incorrect or it's the intended behavior (which I doubt). If it's happening in v12 in your migration, then the migration is incorrect :wink:

[2019-02-26 16:22] meigallodixital commented on #507
You're right, in 11.0 the behavior is the same.

I thought that stock control was done at the time of the sale order line, but it is done when the order is delivered, at that time if it is not allowed to continue. In fact, I just notice that the message is not the same.

Even so, if we have marked the "Buy" route, it would not be interesting to stop creating that line, in the case of "Make to orde

[2019-02-26 16:26] pedrobaeza commented on #507
Indeed, the error is risen when the actual stock decreasing is done, which is validating the picking. For what you want, check `sale_exception` module with a predefined rule that comes with it.

[2019-02-26 16:26] #507 closed, assigned to nobody

[2019-02-27 12:44] pedrobaeza commented on #504
I think this has nothing to be with `stock_no_negative` module.

[2019-02-28 09:50] mhdsyarif commented on #504
Hi @pedrobaeza,
Yes, can you help me to create a new module based on the video above.
Thanks.

[2019-02-28 10:06] pedrobaeza commented on #504
Sorry, but teaching you in that is so wide that can't be done.

[2019-02-28 10:06] #504 closed, assigned to nobody

[2019-04-11 16:23] Saphar opened #522 "[12.0] [stock_picking_invoice_link] no related pickings"
After the last updates in Odoo 12.0 branch this plugin doesn't seem to work anymore. I don't see any pickings with the new orders and invoices I create. I see that nothing gets inserted into the "account_invoice_stock_picking_rel" table in the database. Is there a way to find what causes this issue?

[2019-04-11 18:04] pedrobaeza commented on #522
There hasn't been any update since the module merge...

[2019-04-11 18:44] Saphar commented on #522
Under updates I mean I have the latest code from the branch 12.0. I wonder if it is just some misconfiguration that breaks this.

[2019-04-11 18:46] pedrobaeza commented on #522
Please try to reproduce the problem in runbot (admin/admin): https://runbot.odoo-community.org/runbot/154/12.0 and put the detailed steps to reproduce it.

[2019-04-11 19:21] Saphar commented on #522
Thank you for the link, it is working in runbot. So it might be something in our configuration, do you have any suggestion where to search for this kind of problem? I am creating sales, deliver the items and create an invoice. It worked fine until yesterday.

[2019-04-11 19:27] pedrobaeza commented on #522
Sorry, no clue. Closing the issue then.

[2019-04-11 19:27] #522 closed, assigned to nobody

[2019-04-22 19:33] Saphar commented on #522
I tried again on a separate database, latest Odoo code from git branch 12.0. I installed only the apps Sales, Invoices, stock_picking_invoice_link. I created a sale, delivered the items and generated the invoice, but I cannot see the picking on the invoice. Then I went to the database and inserted these values into the "account_invoice_stock_picking_rel" (1,1) and it appeared on the view the relat

[2019-04-24 20:49] tbaden commented on #457
stock_picking_restrict_cancel_with_orig_move is merged, but not checked yet

[2019-04-27 13:39] rousseldenis commented on #434
@CasVissers Is this solved ?

[2019-04-27 14:06] rousseldenis commented on #429
@tafaRU Is this still relevant ? We did some changes in that module https://github.com/OCA/stock-logistics-workflow/commit/cb4819f500f944af6eff8d04c451e3b26437a4be#diff-75d8c25aa27e1e88f84970b25c375147

[2019-04-29 18:01] CasVissers-360ERP commented on #434
@rousseldenis I didn't solve it yet. Has no priority for the customer.

[2019-05-14 13:05] jaumeplanas commented on #457
stock_picking_send_by_mail #526

[2019-06-01 23:00] emagdalenaC2i commented on #377
stock_picking_show_backorder - By @flotho - #397 is closed and superseed in #398 that is already merged

Please, change the PR number in stock_picking_show_return - By @flotho - #398 it should be #396

[2019-06-01 23:07] emagdalenaC2i commented on #457
There is a PR for the migration of stock_picking_purchase_propagate - By @kittiu - #520

[2019-06-05 06:37] ghost opened #530 "Easy way to work with Product Kit in Delivery Order"
We have a need and are about to create a module "stock_sale_product_kit_move_helper"
The objective of this module is to add helper way to allow user to select partial shipment of product kit (BOM kit) in delivery order.

Given a product kit K1, its bom consist of P1 = 20 unit + P2 = 30 units

**Standard Odoo:**
- Sale order with K1 = 10 units
- DO will be created with detailed products, P1 = 200 a

[2019-06-05 08:33] rousseldenis commented on #530
@kittiu-ecosoft workflow repo makes sense.

I think the process could be more generic as you maybe want to change a simple picking.

So, the idea should be modifying picking with the helper and then, see if something should be implemented in another module for sale workflow.

'stock_picking_product_kit_helper or...' should be correct for the base module (look for non existing module in other repos

[2019-06-05 09:47] ghost commented on #530
@rousseldenis thank you for your encouraging comment. I work something out first, and I hope you will give more comment there.
Note: I don't see what will related to sale workflow as you has mentioned yet. But let my feet wet first. :)

[2019-06-06 16:54] kittiu commented on #530
@rousseldenis I am quite finish with the first draft. Here is how it works, feel free to comment. Given the following sample.

1) A sales order with 1 product kit.

![image](https://user-images.githubusercontent.com/1973598/59050940-decdd400-88b5-11e9-9b8c-1cfe8b4b1dab.png)

2) DO created as exploded lines

![image](https://user-images.githubusercontent.com/1973598/59050966-f1e0a400-88b5-11e9-9cd7

[2019-06-07 07:28] kittiu commented on #530
I have finished development with test script.
https://github.com/OCA/stock-logistics-workflow/pull/533

[2019-06-20 08:41] kittiu commented on #457
@rousseldenis can I migrate **stock_change_price_at_date** from 10 -> 12

[2019-06-26 09:58] pedrobaeza opened #543 "Translations for stock_batch_picking not synchronized on Weblate"
@sbidoul I have a weird case with this module. POT file was updated by my colleague @sergio-teruel directly in the pull request commit: f23c167e7cba79aae405204308890b6f7241268.

First of all, the bot makes another POT update commit, but with no real content: db442b1b225f925dedb4b6507ad545603f34928d, but I suppose we can't avoid this.

The real problem is that there's no reflect of the POT changes

[2019-06-26 10:22] sbidoul commented on #543
It should have been done by the msgmerge addon in weblate.
Unfortunately it does not always trigger, and from time to time I launch it with a script.

There must be a pattern of when it works and when it does not but I've not identified it so far.

[2019-06-26 10:23] sbidoul commented on #543
I'll open an issue at weblate to try to make progress... although I've not much to say in terms of how to reproduce the bug...

[2019-06-26 10:26] pedrobaeza commented on #543
OK, thanks for the insights. Can you share the script or give me the instructions on how to run it on the server for being able to launch it myself if I detect again the problem?

[2019-07-01 10:16] DarioLodeiros opened #548 "product_expiry_simple Bug with extra moves"
_action_done can unlink movelines (https://github.com/OCA/OCB/blob/11.0/addons/stock/models/stock_move_line.py#L415), when recover the super, self has not all records...
https://github.com/OCA/stock-logistics-workflow/blob/48ac521eef8bf5fca82901024b6219a45524e741/product_expiry_simple/models/stock_move_line.py#L16

PR is here:
https://github.com/OCA/stock-logistics-workflow/pull/549

[2019-07-12 09:08] bealdav opened #551 "v12 picking: how to accelerate delivery encoding with huge lines number and lots"
Use case v12:
My customer deal with lots and a have a lot of lines in its picking out
and complains of a very painful workflow.

Facts:
1/ when you don't make any update on your picking (all products are available, all proposed lots are available), aka default data are untouched there are no waste of time.
2/ when you just modify one line (change lot) odoo propose to send only 1 line (the changed

[2019-07-12 09:23] bealdav commented on #551
Please do you share the same facts
@rousseldenis @mreficent @kittiu @lreficent @carlosdauden

[2019-07-12 09:43] carlosdauden commented on #551
Something like this would help you?
https://github.com/OCA/stock-logistics-workflow/tree/11.0/stock_pack_operation_auto_fill

[2019-07-12 09:44] pedrobaeza commented on #551
For v12 is called `stock_move_line_auto_fill`

[2019-07-12 09:46] carlosdauden commented on #551
https://github.com/OCA/stock-logistics-workflow/pull/538

[2019-07-12 09:48] bealdav commented on #551
Thanks a lot.
I've missed smth. It's a fact ;-)

[2019-07-12 10:17] #551 closed, assigned to nobody

[2019-08-14 12:23] bharatrdevnani opened #556 "[10.0] [stock_cancel] doesn't delete related quants when cancelling stock picking"
Hi Community Members,

I tried receiving the shipment for an item, and appropriate stock moves and quants were registered. but when I reopened and cancelled the picking, the stock.quants are still there but at source location which is Vendors Location.

Is this correct behavior ? shouldn't it delete the quants ?

BR,
Bharat

[2019-08-29 10:15] jaumeplanas commented on #457
We are interested in module stock_picking_purchase_order_link and we'd migrate it to version 12.0, but it isn't listed in the Modules to migrate section above. Is it OK to migrate it?

[2019-08-29 10:19] pedrobaeza commented on #457
Yes, it's not here because it wasn't on the branch when this issue was auto-populated.

[2019-08-29 13:54] jaumeplanas commented on #457
stock_picking_purchase_order_link: #562

[2019-09-02 19:06] AaronHForgeFlow commented on #556
This is intended behavior. The quant actually exists but in the previous location.

[2019-09-10 18:56] luisg123v commented on #457
Hi, we're interested on migrating `stock_picking_backorder_strategy`, but it's not on the list. Could you add it, please?

CC @lescobarvx

[2019-09-10 19:52] pedrobaeza commented on #457
@luisg123v OK, no problem, go ahead.

[2019-09-11 01:00] luiseevaquer commented on #457
stock_picking_backorder_strategy: https://github.com/OCA/stock-logistics-workflow/pull/568

[2019-09-27 13:02] carlos-domatix opened #571 "[11.0] Create packages in stock_batch_picking"
It is possible to create packages with the module stock_batch_picking as in the Odoo transfers (With button "Put in pack")? Thanks.

[2019-09-29 21:49] OCA-git-bot opened #572 "Migration to version 13.0"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-13.0

# Modules to migrate

- [x] product_supplierinfo_for_customer_picking - By @PabloPaezSheridan - #957
- [ ] purchase_stock_picking_restrict_cancel
- [x] sale_order_global_stock_route - By @sergio-teruel - #950
- [x] stock_auto_move - By @rousseldenis - #735
- [ ] stock_change_price_at_date
- [ ] stock_dropshipping_whole

[2019-10-04 08:03] hustlercoder opened #573 "[12.0] [stock_picking_package_preparation/line] Slow and product_uom_qty same as qty done"
When using this module with a lot of rows for wh/in or wh/out the waiting time is so long.
Anyway this is not a problem for now...but the real question is why the pack_done put the qty_done equal to product_uom_qty also if there is a stock.move.line with a different qty

[2019-10-04 16:44] rousseldenis commented on #573
@eLBati @tafaRU @SimoRubi Maybe you'll have an answer for this ?

[2019-10-07 07:29] SimoRubi commented on #573
Hi @hustlercoder,
could you please post the steps and the actual/expected behavior to help us understand your issue?
Thanks!

[2019-10-13 08:18] hustlercoder commented on #573
@SimoRubi  Yes so the actual problem was that the module put the qty_done equal to the product_uom_qty also if you leave it at 0...and this is wrong...and no sense...but i manage this..I removed the condition in the module...now the question is..i have some WH/IN that are between 1000/1200 rows of products(due to migration from another crm to odoo)...and when i click put in pack...it takes somethi

[2019-10-18 12:32] SimoRubi commented on #573
Thanks, so the issue now is that when you click "Put in pack", it takes very long for many rows and all you see in the logs is preparation_lines being deleted.

I just tried that in my local environment and it does not delete any preparation line when clicking on "Put in pack".
On the other hand I noticed that those lines are being deleted after clicking on "Package done" button, could you confirm

[2019-10-18 21:24] hustlercoder commented on #573
@SimoRubi  yes on the first attempt it was on put in pack but now i can confirm that on pack done is the problem

[2019-10-21 09:07] Joaco1980 opened #578 "[11.0] stock_picking_invoice_link"
When there are returns of delivery notes they do not appear in the list of delivery notes.
If invoices with positive and negative quantities to avoid making credit invoices

[2019-10-21 09:09] pedrobaeza commented on #578
Unless you explain a bit more the steps to reproduce the problem, this is not enough for understanding the issue.

[2019-10-21 09:15] Joaco1980 commented on #578
SO001 - WH/OUT/001 y WH/OUT/002
SO002 - WH/OUT/003
SO003 - WH/OUT/004

Now return one product WH/OUT/002 y create WH/IN/001

Invoice all Sales Order, in the list of picking, the return does not appear

[2019-10-28 12:40] rousseldenis commented on #571
@sergio-teruel You can maybe help here ?

[2019-10-28 13:41] #556 closed, assigned to AaronHForgeFlow

[2019-10-30 08:48] sergio-teruel commented on #571
Hi @carlosDomatix  What do you want to do exactly? Create a package from one batch picking?

[2019-11-25 09:42] hustlercoder commented on #573
@SimoRubi still alive?

[2019-11-25 09:43] SimoRubi commented on #573
yess, I'll look into this when I can

[2019-12-02 10:05] eguane opened #587 "[12.0][ stock_picking_mass_action] force picking"
HI, after installation, I can't show force picking in the action wizard ?

"A wizard which allows on multiple stock pickings at a time to:

Confirm draft picking;
check availability of picking;
force availability of picking;
transfer picking; "

[2019-12-03 14:28] rousseldenis commented on #587
See https://github.com/OCA/stock-logistics-workflow/pull/534/commits/4d4aff10c074500f16b07ac06293a9ac3634043a

As force availability is not anymore on v12, the functionnality has disappeared but stay in README.

@carlosdauden Could you fix README ?

[2019-12-03 14:42] eguane commented on #587
Ok, clear.

Thank for your feedback.

Le mar. 3 déc. 2019 à 15:28, Denis Roussel (ACSONE) <
notifications@github.com> a écrit :

[2019-12-04 10:05] #587 closed, assigned to carlosdauden

[2019-12-19 09:35] qdelcourte commented on #572
stock_no_negative #597

[2019-12-20 10:17] ellesalvo opened #599 "[12.0] stock_picking_prepartion_line does not create lines from all pickings"

[2019-12-20 19:35] rousseldenis commented on #599
Could you a little bit more describe your issue ?

[2019-12-25 06:19] ps-tubtim commented on #572
Working on migration of stock_move_quick_lot https://github.com/OCA/stock-logistics-workflow/pull/600

[2019-12-25 08:15] ps-tubtim commented on #572
Working on migration of stock_picking_auto_create_lot https://github.com/OCA/stock-logistics-workflow/pull/601 and stock_picking_back2draft https://github.com/OCA/stock-logistics-workflow/pull/602

[2020-01-27 09:52] ps-tubtim commented on #572
Working on migration of stock_landed_costs_currency https://github.com/OCA/stock-logistics-workflow/pull/614

[2020-01-31 12:28] jiad opened #618 "Couldn't process Purchase workflow"
I have installed this module, but found that the "receive product" >> validate >> Apply all product,  not work. No respon at all.

Anyone know how to change back the normal purchase workflow??
Thanks.

[2020-01-31 12:29] jiad commented on #618
the module i installed is stock_batch_picking

[2020-01-31 14:52] pedrobaeza commented on #618
You are not even indicate the Odoo version and the steps to reproduce the problem are not enough. Please indicate all of them, from the beginning. Closing meanwhile.

[2020-01-31 14:52] #618 closed, assigned to nobody

[2020-02-05 19:55] sergio-teruel commented on #572
Working on migration stock_picking_whole_scrap https://github.com/OCA/stock-logistics-workflow/pull/619

[2020-02-06 16:39] sergio-teruel commented on #572
Working on stock_picking_sale_order_link https://github.com/OCA/stock-logistics-workflow/pull/621

[2020-02-06 16:58] sergio-teruel commented on #572
Working on stock_picking_invoice_link https://github.com/OCA/stock-logistics-workflow/pull/622

[2020-02-08 17:58] lbelorgey commented on #457
stock_lot_scrap: #624

[2020-02-09 22:03] jiad commented on #618
sorry. my bad. I am using odoo 9. I have installed the module stock_batch_picking and stock_picking_wave. And had some operations with these two modules to receive the purchase products. BUT after I have uninstalled them both, and I can't install them back anymore. It showed error below:

And in purchase module, I can make and confirm purchase orders, but it couldn't finish the workflow as I can't

[2020-02-18 16:04] nicomacr opened #627 "[11.0] stock_picking_invoice_link: Only takes one invoice related to the moves"
When you reduce the quantity to invoice of some line and then you create another invoice with this quantity reduced this invoice(the last) didn't related to the picking.

Reproduce:
- delivery all of the products in the sale order
- create invoice from sale order
- reduce the qty to one of the products in the invoice line, if you ordered 4 only invoice 2 units
- Create another invoice to the 2 uni

[2020-02-19 00:25] bunhin commented on #377
Do not find "stock_picking_line_sequence" modul on migration list, please info whether it is not applicable for V11?.  I am trying to port from v10 or back from V12 to try solve issue i faced with stock delivery report where the printed line sequence of the report do not same as the sale order line. Thanks

[2020-02-25 17:43] mahmoudmk1 opened #631 "stock moves sequence-error created from other modules"
module: stock_picking_line_sequence
version: 12.0
**Current behavior**
This module does not integrate with other modules such as (sales, purchase )

for example the stock move sequence created from a" sale order" is not correct, instead of (1,2,3,4....etc) you will find (9,999)for all stock move lines?.
also the stock move sequence created from a" purchase order" also is not correct, you will find

[2020-03-02 16:37] rousseldenis commented on #631
As I see in code it should work even with sales/purchases...

@LoisRForgeFlow @sergiocorato What do you think ?

[2020-03-03 11:13] LoisRForgeFlow commented on #631
cc @AaronHForgeFlow

[2020-03-03 11:41] AaronHForgeFlow commented on #631
I agree sequence to '9999' is ugly, but it is defined like that because when updating the record users want the new line to be at the bottom (highest sequence number). When saving the record (the picking) sequences are recomputed so the '9999' will be the proper sequence.

Respect to the sequence number increment 5 by 5 thing, I could not reproduce that. Could you please put here a link to a runbo

[2020-03-10 14:04] LoisRForgeFlow commented on #631
Closing as it seems that there must be something else in your set-up. Please reopen if you can share the steps to reproduce in a runbot instance.

[2020-03-10 17:39] qzmxs opened #637 "[12.0]stock_picking_line_sequence sequence has a problem"
module: stock_picking_line_sequence
version: 12.0

**Steps to reproduce**
There is a problem with the sales order sequence  related to inventory
![image](https://user-images.githubusercontent.com/55458897/76341755-70cca680-6338-11ea-8f1c-6018184cd0dc.png)

![image](https://user-images.githubusercontent.com/55458897/76341646-4d096080-6338-11ea-933d-1ddae8aaf24b.png)

**Current behavior**

**Expecte

[2020-03-11 00:22] mahmoudmk1 commented on #631
Do you meant that 9999 sequence is ok !How it comes? please could you check the attachments which they are a screenshots from your runbot.
Best Regards
![Screenshot 2020-03-11 02 15 47](https://user-images.githubusercontent.com/51242024/76370169-a5dbf780-633e-11ea-9e6a-828fc6bc5b84.png)
![Screenshot 2020-03-11 02 16 03](https://user-images.githubusercontent.com/51242024/76370170-a6748e00-633e-11ea

[2020-03-11 12:35] LoisRForgeFlow commented on #637
@qzmxs Are you able to reproduce this on runbot?

cc @AaronHForgeFlow I guess this is the same issue here: https://github.com/OCA/stock-logistics-workflow/issues/631.

[2020-03-11 12:35] LoisRForgeFlow commented on #631
cc @AaronHForgeFlow

[2020-03-11 12:52] AaronHForgeFlow commented on #637
Sames as #631 I think we should keep only one open:

I could reproduce the issue when the module sale_order_line_sequence is not installed but stock_picking_line_sequence is installed. A fix is required. I would leave the other issue opened because it was created first.

[2020-03-11 13:05] LoisRForgeFlow commented on #637
Closed in favor of https://github.com/OCA/stock-logistics-workflow/issues/631. Tracking will continue there.

[2020-03-11 13:05] #637 closed, assigned to nobody

[2020-03-11 13:06] LoisRForgeFlow commented on #631
@AaronHForgeFlow Confirmed this issue, a fix will be required.

[2020-03-11 14:15] AaronHForgeFlow commented on #631
This is fixed here: https://github.com/OCA/stock-logistics-workflow/pull/638
@qzmxs @mahmoudmk1 Could you please review?

BTW: This fix just set the sequence starting from 1 onward. If you need to keep the same sequence in sale orders and purchase orders in the picking you will need also those modules: https://github.com/OCA/sale-workflow/tree/12.0/sale_order_line_sequence and https://github.com/O

[2020-03-11 17:41] qzmxs commented on #631
When the line number 9999 appears, please uninstall stock_picking_line_sequence, after reinstallation, it becomes the serial number 1, 2, 3, 4 ....,
There are no errors in creating outbound orders independently.

[2020-03-11 17:44] AaronHForgeFlow commented on #631
Do you mean demo data records?

[2020-03-11 17:45] mahmoudmk1 commented on #631
The issue solved, thanks for your cooperation. I appreciate your support.
@AaronHForgeFlow @LoisRForgeFlow

[2020-03-11 17:52] AaronHForgeFlow commented on #631
Thanks for reporting. Once checks are passed in the PR you can also review it. Regards.

[2020-03-12 11:34] qzmxs commented on #631
I don't know how to describe this problem, I expect and suggest that stock documents generated by sales order or purchase order should inherit the serial number

[2020-03-12 12:27] AaronHForgeFlow commented on #631
Then you will need also those modules: https://github.com/OCA/sale-workflow/tree/12.0/sale_order_line_sequence and https://github.com/OCA/purchase-workflow/tree/12.0/purchase_order_line_sequence

[2020-03-12 12:55] qzmxs commented on #631
purchase_order_line_sequence，This purchasing module has been tested normally, and it is normal to generate an inventory serial number

[2020-03-12 12:58] qzmxs commented on #631
The stock number is displayed as 9999, which may be caused by sale_order_line_sequence

[2020-03-12 13:05] qzmxs commented on #631
purchase ok
![image](https://user-images.githubusercontent.com/55458897/76524236-abebe880-64a4-11ea-93ee-41e73b52fd51.png)
![image](https://user-images.githubusercontent.com/55458897/76524295-c58d3000-64a4-11ea-9f70-bff22af569fa.png)
sale
![image](https://user-images.githubusercontent.com/55458897/76524363-e786b280-64a4-11ea-8582-6509897dff35.png)
![image](https://user-images.githubusercontent.com

[2020-03-12 13:46] AaronHForgeFlow commented on #631
Could not reproduce on runbot. If this is an issue of the purchase_order_line_sequence module please create the issue https://github.com/OCA/purchase-workflow/issues not here.

[2020-03-12 15:18] mahmoudmk1 commented on #631
@qzmxs  I think I know how to fix the issue you just described with the stock move sequence 9999 created from sale module. I think you should follow these steps:
1-uninstall the old version of  stock_picking_line_sequence and delete the old files from addons path
2-upload the fixed one using this url https://github.com/ForgeFlow/stock-logistics-workflow/tree/12.0-fix-stock_picking_line_sequence/ ,

[2020-03-16 12:24] qzmxs commented on #631
@mahmoudmk1
https://github.com/ForgeFlow/stock-logistics-workflow/tree /12.0-fix-stock_picking_line_sequence/
The following problems exist

![image](https://user-images.githubusercontent.com/55458897/76758053-d64ee600-67c3-11ea-99b4-aafa8f5795c6.png)

![image](https://user-images.githubusercontent.com/55458897/76758151-16ae6400-67c4-11ea-8cfe-b89b2ca74c75.png)
![image](https://user-images.githubus

[2020-03-16 13:03] AaronHForgeFlow commented on #631
thanks for  reporting, if this issue is reproduced in the runbot of the pull request can we followup there?

[2020-03-16 14:35] AaronHForgeFlow commented on #631
Could not reproduce this error in the pull request: https://github.com/OCA/stock-logistics-workflow/pull/638

Will check the integration with purchase_order_line_sequence, but as said, that would be an issue of a different module.

[2020-03-16 16:14] qzmxs commented on #631
oca's stock_picking_line_sequence has not fixed the previous problem. My problem is based on https://github.com/ForgeFlow/stock-logistics-workflow/tree /12.0-fix-stock_picking_line_sequence/.

Since ForgeFlow's stock_picking_line_sequence cannot submit the issue, I will submit it here so it can be resolved together.

[2020-03-16 16:48] qzmxs commented on #631
@AaronHForgeFlow ，The https://github.com/ForgeFlow/stock-logistics-workflow/tree/12.0-fix-stock_picking_line_sequence/stock_picking_line_sequence modified 3 hours ago still did not solve the previous problem. I have uninstalled purchase_order_line_sequence, and I have uninstalled sale_order_line_sequence. Only stock_picking_line_sequence is retained, and the problem persists.

[2020-03-16 16:51] qzmxs commented on #631
I set up a new database to test！==

[2020-03-16 17:06] qzmxs commented on #631
@AaronHForgeFlow
Brand new database with only purchase_order_line_sequence installed,
![image](https://user-images.githubusercontent.com/55458897/76782113-bda5f680-67ea-11ea-961d-e1592af238f8.png)
![image](https://user-images.githubusercontent.com/55458897/76782244-f2b24900-67ea-11ea-8a27-2f6a1a7a760b.png)
![image](https://user-images.githubusercontent.com/55458897/76782304-107fae00-67eb-11ea-8845

[2020-03-16 18:31] AaronHForgeFlow commented on #631
I am sorry but could not reproduce in local. Could you reproduce the same on runbot.

In case you are trying to reproduce in local please ensure you fetched the latest code and there is no external module affecting the behavior. Regards.

[2020-03-17 17:51] AaronHForgeFlow commented on #631
I could reproduce now. I will fix that. Thanks for letting me know.

[2020-03-18 12:55] AaronHForgeFlow commented on #631
@qzmxs I think now the issue is solved. Could you pleas review in the PR? Thanks

[2020-03-19 16:51] qzmxs commented on #631
The latest version of ForgeFlows（tock_picking_line_sequence）
The latest version of OCA（sale_order_line_sequence）
The latest version of OCA（purchase_order_line_sequence
The previous issue was resolved after installation, but the sales order generation stock list duplicated the historical 9999 issue

Created separately stock out order
![image](https://user-images.githubusercontent.com/55458897/77081

[2020-03-19 17:03] qzmxs commented on #631
Error 1
![image](https://user-images.githubusercontent.com/55458897/77093000-5b94fd80-6a45-11ea-9526-a20b00bf5583.png)
![image](https://user-images.githubusercontent.com/55458897/77093092-78c9cc00-6a45-11ea-8954-7185d644d27d.png)
Error 2
![image](https://user-images.githubusercontent.com/55458897/77093290-c2b2b200-6a45-11ea-869e-080955766ec2.png)
![image](https://user-images.githubusercontent.com/

[2020-04-15 12:47] jarroyomorales opened #649 "[12.0] stock_move_quick_lot: 'Open detail to remove lot'"
Steps to reproduce with the demo data:

- With `stock_move_quick_lot` module installed create a new stock picking.
- Operation type: 'Your Company, Receipts', for example.
- Add a line with a product tracked by lots and some quantity (cable management box, in demo data for example)
- Save and mark as todo
- Then edit, add a lot and end of life date to the move line and save.

I get this error:

![

[2020-04-16 08:14] newtratip opened #650 "Filter serial number by location"
**My process**

1. Receipt product A 2 quantity (Serial No. : SA 001, SA 002) from Partner Locations/Vendors to BKK/Stock.
![Selection_328](https://user-images.githubusercontent.com/24691983/79429248-78473580-7ff1-11ea-940b-cd17d639ec05.png)

2. Transfer product A 1 quantity (Serial No : SA 001) from BKK/Stock to BKK/BKK-Borrow.
![Selection_330](https://user-images.githubusercontent.com/24691983/7

[2020-04-16 10:29] jarroyomorales commented on #649
Hi @kittiu! I've seen that you are the author of the migration to 12.0, did you encounter this error when migrating?

[2020-04-16 14:57] newtratip commented on #650
I think this module can use https://github.com/OCA/stock-logistics-workflow/tree/12.0/stock_picking_filter_lot

I will close issue.

[2020-04-17 14:49] #650 closed, assigned to nobody

[2020-04-17 15:22] newtratip commented on #572
Working on stock_picking_filter_lot https://github.com/OCA/stock-logistics-workflow/pull/648

[2020-05-05 10:11] newtratip commented on #572
This is done, Can someone review this ? `stock_picking_filter_lot` https://github.com/OCA/stock-logistics-workflow/pull/648

[2020-05-06 19:45] mahmoudmk1 commented on #631
@AaronHForgeFlow @qzmxs  I tested the latest version for modules
-"sale_order_line_sequence-V12.0.1.0.0" as in https://github.com/OCA/sale-workflow/tree/12.0/sale_order_line_sequence
-"purchase_order_line_sequence-V12.0.1.0.1" as in https://github.com/OCA/purchase-workflow/tree/12.0/purchase_order_line_sequence
WITH
-"stock_picking_line_sequence-V12.0.1.1.1" AS IN https://github.com/ForgeFlow/stoc

[2020-05-28 19:23] jgrandguillaume commented on #386
As the PR is merged, I'm clean up this one.

Nbote we have another work that target kind of similar needs: https://github.com/OCA/stock-logistics-warehouse/pull/709

[2020-05-28 19:23] #386 closed, assigned to nobody

[2020-06-10 10:00] josepmy opened #665 "[12.0] stock_picking_invoice_link : restore related links after update module"
Hi,
Any workaround to restore the previous links related to  stock_picking_invoice_link after update the module?

Thanks,
Josep M

[2020-06-10 10:59] pedrobaeza commented on #665
No, as it can't be done as the information can't be deduced post-mortem. You can guess in the best case if everything is invoiced at once and only one involved picking, but it's going to be partial and not done for now.

[2020-06-10 11:39] josepmy commented on #665
Why partial? Restoring account_invoice_stock_picking_rel the pickings appear again related to their invoice. I guess it is all completed, but the PDF grouped by picking now is related a new table stock_move_invoice_line_rel where insert the invoice_line_id with their stock move_id, so I guess it could be restored with a script, right?

[2020-06-10 11:49] pedrobaeza commented on #665
No, it can't be. You can deliver several times, but invoice one, or deliver one, return, invoice, refund, invoice again, etc. All of this can't be deduced post-mortem.

[2020-06-10 12:08] josepmy commented on #665
Agree, I understand it, this from now, but for the old data if I restore it, this will be the information I had, right? and the customer could see that, better that not seeing nothing.

[2020-06-10 12:12] pedrobaeza commented on #665
OK, go ahead and contribute with that initialization script :wink:

[2020-06-10 12:32] josepmy commented on #665
Ok, I will try it. But the point of view of restoring the account_invoice_stock_picking_rel, that after the module update is empty, with the previous values is correct, right?

[2020-06-10 13:43] pedrobaeza commented on #665
There are other fields to fill, but I don't have them in mind just now (m2m at invoice and line level at least). Check which fields add this module.

[2020-06-15 10:46] MiquelRForgeFlow commented on #572
stock_picking_purchase_order_link https://github.com/OCA/stock-logistics-workflow/pull/668

[2020-06-19 09:51] quentinDupont commented on #587
Hello !

But... why did that feature disappear?
Our activities in Odoo cannot have their stock permanently updated (with just one purchase order that has not yet been processed..) and therefore they cannot easily validate their sale..? There is something I may be missing?

[2020-07-01 02:47] gertcuykens opened #676 "[12.0] stock_picking_invoice_link: Error: Unknown field location_dest_id in domain"
`Stock Picking Invoice Link` v12.0.2.0.0 gives the following error `"Unknown field location_dest_id in domain"`

Example when you click on invoices

![image](https://user-images.githubusercontent.com/863731/86197223-3ab86a00-bb55-11ea-819c-72883dacb005.png)

<img width="1440" alt="Screenshot 2020-07-01 at 04 26 48" src="https://user-images.githubusercontent.com/863731/86196816-540ce680-bb54-11ea-9

[2020-07-01 06:59] pedrobaeza commented on #676
There's no such domain in the module, so the problem should come from other third party module you have. Check on the runbot link in the module README that everything is working correctly.

Closing as no issue at this module.

[2020-07-01 06:59] #676 closed, assigned to nobody

[2020-07-01 11:30] gertcuykens commented on #676
Ok thanks, you are correct, apparently when I remove every custom addon I don't have a error msg anymore.

[2020-07-12 18:59] elhamdaoui opened #680 "Odoo.sh install, error (post-migrated) version 12.0"
ERROR | server |
module stock_picking_invoice_link: Each post-migration file must have a "migrate(cr, installed_version) function

[2020-07-13 06:46] pedrobaeza commented on #680
Sorry, but the restriction seems incorrect on Odoo.sh part, not on the module. We are decorating the function with a special decorator and the signature is not going to be that one, as we switch `cr` by `env`.

[2020-07-13 06:46] #680 closed, assigned to nobody

[2020-07-15 06:27] victoralmau opened #683 "[12.0] Addon exist related to picking_note in sale order?"
I have implemented an addon that adds a field in the sale_order called picking_note, so that that field (text) is added to the stock_picking as a relational field.

It is useful since things would be specified there regarding the preparation of the order in the warehouse.
Does this already exist in any addon or is it an addon that could be contributed to the repository? I think it would be called:

[2020-07-15 06:29] victoralmau opened #684 "[12.0] Addon exist related to carrier_note in sale order?"
I have implemented an addon that adds a field in the sale_order called carrier_note, so that that field (text) is added to the stock_picking as a relational field.

It is useful since things would be specified there for the carrier (deliver at 08:00, leave the neighbor, etc.)
Does this already exist in any addon or is it an addon that could be contributed to the repository? I think it would be cal

[2020-07-15 06:34] victoralmau opened #685 "[12.0] Addon update carrier_id in sale_order when stock_picking done?"
I have implemented a small addon that when the stock_picking is validated, update the carrier_id of the corresponding sale_id by the corresponding one (since sometimes in the sale_order carrier_id is not specified and it should be updated with the corresponding carrier in the sale_order so that this information is updated and reflected in the corresponding invoice.

Is there a similar addon or cou

[2020-07-15 06:36] rafaelbn commented on #683
Take a look here:

https://github.com/OCA/sale-workflow/tree/10.0/sale_stock_picking_note

https://github.com/OCA/sale-workflow/tree/12.0/sale_stock_picking_note

[2020-07-15 06:56] pedrobaeza commented on #683
And https://odoo-community.org/shop/product/picking-comments-4821

[2020-07-15 06:57] pedrobaeza commented on #685
https://github.com/OCA/delivery-carrier/tree/12.0/delivery_auto_refresh is for the same goal.

[2020-07-15 06:58] pedrobaeza commented on #684
I would use other general modules like sale_stock_picking_note or stock_picking_comment_template. No need to create a specific one IMO.

[2020-07-15 07:12] victoralmau commented on #683
Ok, thank you very much, in this case the addon **sale_stock_picking_note** is exactly what I was looking for.

[2020-07-15 07:12] #683 closed, assigned to nobody

[2020-07-15 07:25] victoralmau commented on #685
First of all thank you very much for the suggested addon.

I've tested the addon in detail and I've seen that some things it doesn't:
- If a carrier with price 0 is defined in the stock_picking, it does not put that line in the sale_order
- Any carrier that is defined in stock_picking does not update the carrier_id field in the sale_order

Is this really an addon bug or is this just not covered?

[2020-07-15 07:31] victoralmau commented on #684
I have seen the addons you suggest and each one is useful for its function; that is to say, the addon **sale_stock_picking_note** would help define a comment from the sale_order "_Cut the merchandise in this way_", but regarding the integration of other carriers with the addon https://github.com/OCA/delivery-carrier/tree/12.0/base_delivery_carrier_label requires additional notes that must be confi

[2020-07-15 07:34] pedrobaeza commented on #684
Yeah, I see the purpose now. Which are the carriers that use it?

[2020-07-15 07:49] pedrobaeza commented on #685
If I don't remember bad, that was the expected behavior for the customer we developed the module to.

What is the purpose of doing this?

[2020-07-15 07:55] victoralmau commented on #684
The new addons that these fields will need are:
- delivery_cbl (fields: observations1 and observations2) Field limit to 100 characters
- delivery_nacex (fields: obs1, obs2, obs3 and obs1) Field limit to 38 characters
- delivery_txt (fields: observations1 and observations2) Field limit to 100 characters
- delivery_tsb (field: observations) Field limit to 250 characters

The character limit will be

[2020-07-15 08:01] pedrobaeza commented on #684
Yes, it can be planned that way. Note than most of the carriers simply introduces a field for that, and having "templates" for that can be both good and bad, as if you have a lot of templates, it will be a mess to find the suitable one and you take less time writing on your own. Anyway, the result should go to OCA/delivery-carrier.

[2020-07-15 08:02] victoralmau commented on #685
For the use that we give it, it is wanted that both if a carrier has been defined in the sale_order (sometimes in the stock_picking it changes from carrier_id) as if none had been defined, you want that information to be updated in the sale_order set that information of the sale_order is consulted and it is analyzed by which carrier_id they have left and by province (for example).

Clarify that in

[2020-07-15 08:03] pedrobaeza commented on #685
Well, it seems a use a bit marginal, but it can be added to existing module through a parameter (or unconditionally, to be analyzed).

[2020-07-15 08:05] victoralmau commented on #684
Ok, thank you very much, I had also thought about making a field of observations for each carrier but as you indicate it would be somewhat complicated to know which field should be filled in the sale_order (and if sometimes a carrier is not defined in the sale_order it would be impossible to know which one) .

All cleared up, an addon will be created at https://github.com/OCA/delivery-carrier call

[2020-07-17 10:43] victoralmau commented on #684
I have created the PR https://github.com/OCA/delivery-carrier/pull/273 for this issue.

[2020-07-17 10:43] #684 closed, assigned to nobody

[2020-08-23 09:27] amnyqb opened #696 "Sequence number starts from 9,999 for single item in Delivery Slip"
module: stock_picking_line_sequence
version: 12.0

**Steps to reproduce**
Installation of Sales Order Sequence, Procurement and Picking Sequence modules (from OCA)
Create and confirm a sale order with a single item, print Delivery Slip

**Current behavior**
The sequence column shows in the Delivery slip, however, the sequence number starts from 9,999

**Expected behavior

Sequence number should st

[2020-08-24 03:05] nikul-serpentcs commented on #696
@amnyqb Here I think added default sequence like this https://github.com/OCA/stock-logistics-workflow/blob/12.0/stock_picking_line_sequence/models/stock.py#L14

[2020-08-24 22:01] amnyqb commented on #696
@nikul-serpentcs Thank you Nikul,
Do you mean, you've made changes to the code, or it runs fine with you as it was?

[2020-08-29 17:07] amnyqb commented on #696
I noticed that this error occurs after installing the other OCA modules for sequence numbering ( for Invoice/Sales..)
It works fine when it is installed on its own (with the other dependencies of course)

[2020-08-31 12:48] AaronHForgeFlow commented on #696
The default is 9999, because if the default is 1 then all the lines will be added on the top not at last, and that would be changing the standard behavior and that is not the purpose of the module. When saving the picking the sequence will be the correct one. Perhaps this is not the ideal solution but the other option is not acceptable.

[2020-10-04 10:35] OCA-git-bot opened #708 "Migration to version 14.0"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-14.0

# Modules to migrate

- [x] delivery_package_default_shipping_weight - By @dzungtran89 - #793
- [x] procurement_auto_create_group_carrier - By @hailangvn - #911
- [x] product_cost_price_avco_sync - By @zamberjo - #1286
- [x] product_expiry_simple - By @bealdav - #1271
- [ ] product_supplierinfo_picking - By @HviorForge

[2020-10-23 17:51] #685 closed, assigned to nobody

[2020-10-24 09:18] carlosdauden opened #719 "Add hacktoberfest label to repository"
Since this year the rules to participate in the hacktoberfest have changed:
https://hacktoberfest.digitalocean.com/hacktoberfest-update
It would be nice to add the label to the repositories so that whoever wants to participate can do so without problems.

Many thanks to the PSCs for the work they do selflessly.

[2020-10-24 09:43] mehdi-ghezal opened #720 "[13.0] stock_no_negative - Encoding issue in French translation"
Hello,

The french translation of the module seems to have an encoding issue.
Here an example: https://github.com/OCA/stock-logistics-workflow/blob/af7c24cb5532dd429479c2a37d3f6d82fdd35596/stock_no_negative/i18n/fr.po#L34

Starting since 12.0 ; in 11.0 everything seems to be fine.

[2020-11-03 10:44] sanrav opened #723 "Issues with stock_auto_move module (V10) : done quantity and lots not propagated"
2 issues :

* The **qty_done is not propagated** on the stock.pack.operation when the stock.picking is automatically confirmed (picking containing products with no tracking). See screenshot :

![image](https://user-images.githubusercontent.com/39826575/97968816-72fbdd80-1dbf-11eb-990f-7ee2eff6897e.png)

* It seems that **lots are not propagated** on the "auto confirm" picking because I'm not able

[2020-11-10 07:01] phuctranfxvn commented on #572
`stock_picking_purchase_propagate` migrated https://github.com/OCA/stock-logistics-workflow/pull/732

[2020-11-18 09:06] sergioeix opened #736 "[13.0] Community stock_picking_return_restricted_qty issue with 2 steps receit on warehouse"
[13.0] Community Ubuntu 18.04
Steps to reproduce: set 2 steps receipts on warehouse and try to revicive incoming picking and then internal picking is autogenerated, since this point you are not able to return the incoming picking, without this module all works like spected.
Fully reproducible on runbot.
![image](https://user-images.githubusercontent.com/62206774/99509261-d40dde80-2985-11eb-807c-47

[2020-11-19 01:02] #719 closed, assigned to nobody

[2020-12-01 21:43] #434 closed, assigned to nobody

[2020-12-03 06:33] Vanneri commented on #708
stock_no_negative #747

[2020-12-28 21:05] ivantodorovich commented on #708
stock_move_line_auto_fill : https://github.com/OCA/stock-logistics-workflow/pull/763

[2020-12-29 09:02] ateamscream opened #764 "Invalid field 'allow_negative_stock'"
module: stock_no_negative
version: 13.0

**Steps to reproduce**
- when i click on any product i receive this
- btw it's installed on online odoo database
**Current behavior**
Error:
Odoo Server Error

Traceback (most recent call last):
  File "/home/odoo/src/odoo/14.0/odoo/addons/base/models/ir_http.py", line 237, in _dispatch
    result = request.dispatch()
  File "/home/odoo/src/odoo/14.0/odoo/h

[2020-12-29 11:46] pedrobaeza commented on #764
You can't install modules on Odoo online. Importing the module only serves for data modules.

Closing as no valid issue.

[2020-12-29 11:46] #764 closed, assigned to nobody

[2020-12-30 09:43] SimoneVagile opened #765 "stock_picking_filter_lot: lot_id selector doesn't discard negative product_qty"
Somehow, in stock.quant view you can have a situation of a product with negative quantity, like below
![immagine](https://user-images.githubusercontent.com/62010767/103343143-9ffd0180-4a8b-11eb-9238-7ac25379f45e.png)

However, lot_id selector in stock.picking wizard allows to select a lot with negative quantity
![immagine](https://user-images.githubusercontent.com/62010767/103343014-4ac0f000-4a8b-

[2020-12-30 16:21] #765 closed, assigned to nobody

[2021-01-10 03:59] dzungtran89 commented on #708
`stock_partner_delivery_window`: #775

[2021-01-10 04:00] dzungtran89 commented on #708
`sale_stock_mto_as_mts_orderpoint`: #774

[2021-01-12 20:07] hparfr commented on #708
stock_quant_package_product_packaging #771
stock_quant_package_dimension #770

[2021-01-19 17:59] andreampiovesana opened #778 "review field name lngth in length"
module: stock_quant_package_dimension
version: 13.0

suggest to rename lngth in length,
and better to prefix with pack_ like pack_weight

**Current behavior**
lngth
width
height
volume

**Expected behavior**
pack_length
pack_width
pack_height
pack_volume

[2021-01-19 18:12] pedrobaeza commented on #778
A field can't be named as `length`, as it's a reserved word.

[2021-01-19 20:16] andreampiovesana commented on #778
Infact i suggested pack_length

[2021-02-04 14:40] sergioeix opened #780 "[13.0] stock_picking_invoice_link not show all related invoices on picking"
Steps to reproduce:
1-Make a sale of stockable product 2 und
2-Do the picking delivery for the 2 und
3-Sale order is up to invoice, but on invoice decrease qty and do 1 und invoice
4-Sale order is still up to invoice, then do the invoice for the remain 1 und
5-At this point we have 2 invoices on the same picking, go to the picking and click on invoices smart button
6-Only the first invoice form it

[2021-02-05 09:55] rousseldenis commented on #780
@manuelcalerosolis

[2021-02-05 10:52] manuelcalerosolis commented on #780
From the module documentation

Usage
Create a Sales Order and confirm.
Deliver its pickings totally or partially.
Create an invoice of the goods delivered.
If you open invoice form, you must see a new Pickings tab with information about them.

[2021-02-17 19:54] bosd commented on #708
please add: sale_order_global_stock_route

[2021-02-24 16:21] phuctranfxvn commented on #708
stock_picking_restrict_cancel_with_orig_move https://github.com/OCA/stock-logistics-workflow/pull/791

[2021-02-25 08:54] bealdav opened #792 "Current 12.0 fails because of stock_picking_package_preparation_line"
Hi all,

The module stock_picking_package_preparation_line fails in current branch

see this empty PR
https://github.com/OCA/stock-logistics-workflow/pull/790

with https://travis-ci.com/github/OCA/stock-logistics-workflow/jobs/485838053#L2061

I'm not familiar with this module

Please @SimoRubi @archetipo @eLBati @tafaRU @rousseldenis could you help me ?

Have you an idea ?

[2021-02-25 09:59] rousseldenis commented on #792
At first sight, I would say that two quants have been created instead of one with a quantity of 2.

[2021-02-25 10:00] rousseldenis commented on #792
Maybe if product has been changed to tracking == "serial"

[2021-02-25 12:24] dzungtran89 commented on #708
- delivery_package_default_shipping_weight: https://github.com/OCA/stock-logistics-workflow/pull/793
- stock_putaway_by_route: https://github.com/OCA/stock-logistics-workflow/pull/794

[2021-02-26 16:50] eLBati commented on #792
What happened after the last green build of 12.0 https://travis-ci.com/github/OCA/stock-logistics-workflow/builds/214027420 ?

[2021-02-26 16:52] bealdav commented on #792
Good question

[2021-02-27 09:07] phuctranfxvn commented on #708
stock_move_assign_picking_hook https://github.com/OCA/stock-logistics-workflow/pull/796
stock_picking_group_by_partner_by_carrier https://github.com/OCA/stock-logistics-workflow/pull/795
stock_picking_group_by_partner_by_carrier_by_date https://github.com/OCA/stock-logistics-workflow/pull/797

[2021-03-06 12:50] bealdav commented on #792
Because this module fails alone it's probably a change in odoo itself since last green build. A event which can occurs in other circumstances.

[2021-03-22 15:33] danimv5 opened #815 "[13.0] stock_picking_mass_action - Failure with different delivery"
Steps to reproduce:

- Step 1:
Create a delivery note with a quantity less than reserved (in "Ready" state).

![issue 1](https://user-images.githubusercontent.com/68320522/112014913-a00d1a80-8b2b-11eb-972c-f105b454994e.png)

- Step 2:
Create a delivery note with the same quantity as reserved.

![issue 2](https://user-images.githubusercontent.com/68320522/112015045-be731600-8b2b-11eb-81f8-048511431

[2021-03-23 15:19] grindtildeath commented on #792
@bealdav @eLBati @rousseldenis I gave a look into this issue since travis is failing on my PR #816

It is indeed a commit in Odoo that is breaking the tests:
https://github.com/odoo/odoo/commit/3bbefb10866c6bb1ff8772c8c6e7bdce70d7cf5a

I cannot understand how Odoo does such a change on `stock.quant._gather` function as it introduces an OR on the `lot_id` parameter and returns quants with the lot p

[2021-03-25 19:00] bealdav commented on #792
Thanks a lot @grindtildeath good catch

[2021-03-25 19:00] #792 closed, assigned to nobody

[2021-04-23 10:35] TheMule71 commented on #708
Hello. What's the status of 'stock_picking_backorder_strategy'?  Does it need to be ported or has it been left out on purpose?

[2021-04-27 10:56] Zar-SW commented on #708
stock_production_lot_active: https://github.com/OCA/stock-logistics-workflow/pull/835

[2021-05-04 13:09] ovscorp commented on #573
Was there any solution for this issue. I am facing a similar problem when validating a picking with 700 lines. The picking is never validated (even after 1 hour). The log shows thousands of deleting event :
...
2021-05-04 11:59:03,378 6404 INFO mydb odoo.models.unlink: User #2 deleted stock.picking.package.preparation.line records with IDs: [62793]
2021-05-04 11:59:03,475 6404 INFO mydb odoo.model

[2021-05-06 10:02] eLBati commented on #573
Sorry, do we have the steps to reprodice this?

[2021-05-06 10:12] ovscorp commented on #573
I've created a PO with 700 lines, validate it. Then, when confirming the picking, it was turning with no end. Please note that there is no issue if the number of lines in the picking is not huge.
If there is an odoo instance where I can reproduce this, please share.

[2021-05-06 11:13] eLBati commented on #573
The OCA runbot https://runbot.odoo-community.org/runbot/repo/https-github-com-oca-stock-logistics-workflow-154
Thanks

[2021-05-10 06:35] sergiocorato commented on #573
Do you have many other sppp ready or draft? I saw this [part](https://github.com/OCA/stock-logistics-workflow/blob/12.0/stock_picking_package_preparation_line/models/stock_move.py#L21..L39) is very time consuming in some cases.

[2021-05-10 12:43] ovscorp commented on #573
Hi, The bug is happening only with 'several lines picking'. I am not able to reproduce this in runbot by importing a big picking. I will setup an odoo session on a vps and share credentials with you.

[2021-06-16 15:13] tafaRU commented on #708
`product_supplierinfo_for_customer_picking`: https://github.com/OCA/stock-logistics-workflow/pull/855

[2021-06-17 20:55] Stephanisk opened #856 "Migration of product delivery window is not in the list of migration to v14"
I was looking to install the product delivery window module for v14 but was surprised to not find it and also didn't find it in the current migration list.

I hope someone has some extra time left to have a look for this migration. It is a super important part of stock workflows to know when products can be delivered to a partner.

Quite surprised that no-one has raised this issue before.

[2021-06-18 07:10] rousseldenis commented on #856
Hi @Stephanisk, the migration list is generated once based on v13 already migrated modules. It is not updated with new merged ones.

As this is based on contributors needs, maybe nobody has it until now. You can for sure propose a PR to migrate it.

[2021-06-22 11:33] Binformed commented on #708
Hi,
Are you planning to upgrade the module stock_picking_sale_order_link for V14?

[2021-06-30 07:38] Zar-SW commented on #708
@Binformed This is the link for module migration PR https://github.com/OCA/stock-logistics-workflow/pull/861

[2021-07-08 08:19] azmykn opened #864 "stock_return_request select special Sale order"
Default method to return item is from last or first order ,

so if we need to return from other order rather than first or last one / per line ?

![image](https://user-images.githubusercontent.com/7040526/124888042-6844b880-dfde-11eb-9178-574482c7c311.png)

[2021-07-09 15:41] azmykn commented on #864
@rvalyi  any help please ?

[2021-07-12 19:50] remi-filament opened #865 "[14.0] stock_picking_filter_lot applying on all picking types not only outgoing"
Although stock_picking_filter_lot states the following in README : in a picking **out** or a scrap, the domains applied seem not limited to outgoing picking but applies on any picking.

The following use case is then not working for me :
I receive for the second time product from supplier (from Vendor location) with already existing lot number. In that case, the lot_id field does not propose any S

[2021-07-28 14:50] Stephanisk opened #871 "BUG: Stock_partner_delivery_window isn't postponing delivery dates based on restrictions set"
Hello,

Thanks first of all for the update to 14.0!!!!!

I have installed the module and been testing and my result was when setting fixed time windows and than creating an order, confirm it and than check the delivery slip. It is not taking the fixed days into account. It simply acts as before and makes the delivery or immediate if no date is specified during the order, or if a date is set in the

[2021-08-11 13:05] victoralmau commented on #572
`stock_picking_package_preparation` https://github.com/OCA/stock-logistics-workflow/pull/877

[2021-08-20 07:43] gdgellatly commented on #865
by default in odoo, incoming operations do not allow existing lots. you must explicitly allow it. your report does not state whether you have or not.

[2021-09-22 08:12] remi-filament commented on #865
Hi @gdgellatly thank you for looking into it.
Yes I have allowed both existing lots and creating new lots.

The issue is related to the domain condition added  by stock_picking_filter : ('location_ids', 'child_of', location_id)
When receiving lots already created in system, they for sure do not have a location_id set and therefore would not be shown in the list.

Since it is not found, you need to

[2021-09-22 09:39] remi-filament commented on #865
Found a solution by using web_domain_field see #894

[2021-09-24 02:31] hiepnh97 commented on #708
I make migrate module `delivery_total_weight_from_packaging`: [PR#900](https://github.com/OCA/stock-logistics-workflow/pull/900)

[2021-10-05 14:05] astirpe opened #905 "[12.0][BUG] stock_move_manual_lot: error on manually selecting lots"
Reproduced in runbot:

1. create a picking (eg: receipt)
2.  Configure Operation Type having "Use Manual Lot Selection = True" and "Show Detailed Operations = True"
3. Add a line in tab "Operation" having:

  - product with "Tracking = By Unique Serial Number"
  - Initial "Demand = 3"

4.Save. Mark as Todo. This will create 3 lines in tab "Detailed Operations".

5. In tab "Detailed Operations", ad

[2021-10-11 17:54] dhx commented on #708
`stock_picking_warn_message`: [PR#907](https://github.com/OCA/stock-logistics-workflow/pull/907)
 please add to the migration list

[2021-10-14 13:45] hailangvn commented on #708
* `procurement_auto_create_group_carrier`: https://github.com/OCA/stock-logistics-workflow/pull/911

[2021-10-17 10:22] OCA-git-bot opened #913 "Migration to version 15.0"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-15.0

# Modules to migrate

- [ ] delivery_package_default_shipping_weight
- [x] delivery_procurement_group_carrier - By @ellbristow - #1038
- [ ] delivery_total_weight_from_packaging
- [x] product_cost_price_avco_sync - By @CarlosRoca13 - #1138
- [ ] product_supplierinfo_for_customer_picking - By @Olageibol - #1016
- [x] pu

[2021-10-24 20:27] Mat-moran opened #919 "[14.0] [BUG] permission error in `stock_picking_invoice_link`"
I found a permission error in the module `stock_picking_invoice_link`.

- Enter with a normal user with all permisions except settings permisions.
- Create a sale order
- Validate the picking,
- Create and validate the invoice
- Click in the `pickings` button and the next ERROR appear:

[code]

An user should be able to view the pickings without Administration/setting permisions right?

[2021-10-25 18:59] #919 closed, assigned to nobody

[2021-10-26 11:15] bizzappdev commented on #913
Migration for stock_restrict_lot #921

[2021-10-29 15:46] ValentinVinagre commented on #708
stock_picking_auto_create_lot : https://github.com/OCA/stock-logistics-workflow/pull/923

[2021-11-12 09:36] ph-obs commented on #913
Anybody working on `stock_picking_invoice_link` yet? I would need that module for multiple projects. Thanks

[2021-11-12 09:58] pedrobaeza commented on #913
Do you mean stock_picking_invoice_link? It seems nobody has expressed interest on migrating it till now. Do you want to do it?

[2021-11-12 10:03] ph-obs commented on #913
Yes, exactly. I corrected that typo in the original post.
Sadly I am not able to do it myself (I am no proper developer myself), but I was hoping to find someone to help me because I have multiple customers that would like to migrate to v15 that already use this module.

[2021-11-12 10:07] pedrobaeza commented on #913
The same answer as in the other issue about contacting contributors.

[2021-11-28 12:32] #12 closed, assigned to nobody

[2021-11-28 12:32] #13 closed, assigned to nobody

[2021-11-28 12:32] #40 closed, assigned to nobody

[2021-11-28 12:32] #59 closed, assigned to nobody

[2021-11-28 12:32] #77 closed, assigned to nobody

[2021-11-28 12:32] #95 closed, assigned to nobody

[2021-11-28 12:32] #125 closed, assigned to nobody

[2021-11-28 12:33] #127 closed, assigned to nobody

[2021-12-05 12:33] #144 closed, assigned to nobody

[2021-12-05 12:33] #148 closed, assigned to nobody

[2021-12-05 12:33] #167 closed, assigned to nobody

[2021-12-05 12:33] #189 closed, assigned to nobody

[2021-12-06 02:52] sonhd91 commented on #708
`stock_picking_batch_extended` : [PR#943](https://github.com/OCA/stock-logistics-workflow/pull/943)

[2021-12-12 12:33] #190 closed, assigned to nobody

[2021-12-12 12:33] #197 closed, assigned to nobody

[2021-12-19 12:35] #265 closed, assigned to nobody

[2022-01-09 12:35] #292 closed, assigned to nobody

[2022-01-09 12:35] #371 closed, assigned to nobody

[2022-01-09 12:35] #377 closed, assigned to nobody

[2022-01-16 12:35] #429 closed, assigned to nobody

[2022-01-23 12:32] #530 closed, assigned to nobody

[2022-01-25 13:44] PabloPaezSheridan commented on #572
product_supplierinfo_for_customer_picking #957

[2022-01-30 12:31] #543 closed, assigned to sbidoul

[2022-01-30 12:31] #548 closed, assigned to nobody

[2022-02-03 11:46] sergioeix opened #964 "[13CM] stock_picking_mass_action issue with lots from diferent suppliers"
## Module
stock_picking_mass_action stock_picking_auto_create_lot

## Describe the bug
When you do this batch transfer with the same products from two suppliers you got the same lot on the 2 pickings, so you have a lot bougth on two suppliers with 2 prices on the same lot number

## To Reproduce
**Affected versions**: 13 and others

Steps to reproduce the behavior:
1. Set products with lots and au

[2022-02-06 12:31] #571 closed, assigned to nobody

[2022-02-07 15:12] bse-sja opened #965 "stock_move_change_source_location can't change source to different warehouse"
We are trying to use stock_move_change_source_location module to change the location
of a delivery order to a different warehouse. But the drop down for location only shows the existing warehouse
for that order.

We have hundreds of orders that are waiting for inventory in warehouse A and we want to change all
those orders to fulfill from warehouse B which has stock.

[2022-02-09 15:16] AaronHForgeFlow commented on #631
@mahmoudmk1 having default sequence 9999 is necessary so the new lines are at the end. When saving the lines are sorted correctly. IMHO we should follow up in the pull request (https://github.com/OCA/stock-logistics-workflow/pull/638) and not here. I need reviewers on that pull requests otherwise it will never be merged.

[2022-02-11 10:02] jbaudoux opened #967 "stock_quant_package_product_packaging does not match right product packaging when received qty is a multiple of the packaging qty"
Relates to the comment here: https://github.com/OCA/stock-logistics-workflow/pull/585#pullrequestreview-317465075

[2022-02-16 12:27] bouktaibMohssin opened #972 "14.0 [stock_picking_group_by_partner_by_carrier] Sale order cannot be canceled no wizard or traceback error appears"
## Module
stock_picking_group_by_partner_by_carrier

## Describe the bug
sale order cannot be cancelled in case related pickings are validated , the sale.order.cancel wizard do not appear and no action is happening.

## To Reproduce
14.0

Steps to reproduce the behavior:
1.Create a sale order.
2.Add some product to sale lines.
3.Confirm the quotation
4.Confirm the related stock pickings.
5.go back

[2022-02-20 12:32] #573 closed, assigned to nobody

[2022-02-27 12:33] #578 closed, assigned to nobody

[2022-03-04 14:13] BT-dmontull commented on #913
Migration for stock_production_lot_active [#976](https://github.com/OCA/stock-logistics-workflow/pull/976) & stock_picking_back2draft [#977](https://github.com/OCA/stock-logistics-workflow/pull/977)

[2022-03-06 12:33] #599 closed, assigned to nobody

[2022-03-13 12:34] #627 closed, assigned to nobody

[2022-03-20 12:34] #649 closed, assigned to nobody

[2022-03-20 12:34] #665 closed, assigned to nobody

[2022-03-27 12:35] #696 closed, assigned to nobody

[2022-04-01 10:35] theangryangel commented on #913
stock_picking_mass_action - https://github.com/OCA/stock-logistics-workflow/pull/987

[2022-04-10 12:36] #720 closed, assigned to nobody

[2022-04-24 12:37] #723 closed, assigned to nobody

[2022-04-25 10:40] remihb opened #990 "[12.0-15.0] stock_no_negative : fr.po translation accents"
## stock_no_negative
I noticed that since version 12.0 of the module, there is some problems in translations.
In `i18n/fr.po` file, you can see entries like
[code]
Do I have to modify it manually and make a PR for that ?

[2022-04-25 11:16] rousseldenis commented on #990
You can do it there: https://translation.odoo-community.org/

[2022-04-25 11:17] #990 closed, assigned to nobody

[2022-05-08 12:38] #736 closed, assigned to nobody

[2022-05-13 18:03] dhx commented on #913
stock_picking_warn_message - #1001

[2022-05-22 12:39] #778 closed, assigned to nobody

[2022-05-22 12:39] #780 closed, assigned to nobody

[2022-06-10 11:58] Olageibol commented on #913
product_supplierinfo_for_customer_picking - https://github.com/OCA/stock-logistics-workflow/pull/1016

[2022-06-23 11:49] Je-14-sh opened #1024 "Something went wrong while change location"
You can not change operations destination location if picking state is not in assigned.

When I try to change location in picking it shows a pop-up with the above message. What should I do
<img width="734" alt="Screenshot_7" src="https://user-images.githubusercontent.com/107025129/175291839-e5313946-bc50-49ca-926e-eac2145ecc81.png">

[2022-06-24 05:49] Haje2 opened #1025 "stock_no_negative bug in Subcontracting process"
stock_no_negative bug in Subcontracting process

## Module
stock_no_negative

## Describe the bug
There is a bug in module stock_no_negative version "14.0.1.0.1" that prevents the default process of production by subcontracting.
by default when we receive the final product from the Subcontractor, Odoo will trigger production process automatically by decrease the amount of raw material in subcontra

[2022-06-26 12:38] #815 closed, assigned to nobody

[2022-07-31 12:41] #856 closed, assigned to nobody

[2022-08-14 12:40] #864 closed, assigned to nobody

[2022-08-16 16:19] rafaelbn opened #1067 "[RFC][ADD][stock_picking_sale_description] new module to support single product description"
In many cases, customer's products don't have different descriptions as Odoo except like:

- Internal description
- Sales description
- Purchase description
- Descriptions for delivery orders
- Descriptions for receipts

If you have a single description it is a nightmare to force user to fill all the different descriptions when all are the same. Furthermore, maintain this descriptions could be imp

[2022-08-17 21:50] vib-adhoc commented on #913
stock_picking_auto_create_lot - [#1071](https://github.com/OCA/stock-logistics-workflow/pull/1071)
Could you add this module to the list?

[2022-08-21 12:40] #865 closed, assigned to nobody

[2022-08-28 12:40] #871 closed, assigned to nobody

[2022-09-04 12:45] #905 closed, assigned to nobody

[2022-09-18 12:47] #631 closed, assigned to nobody

[2022-09-28 15:14] flachica commented on #913
stock_quant_package_product_packaging #1092

[2022-09-28 15:19] flachica commented on #913
stock_quant_package_dimension #1093

[2022-09-29 00:16] luffah opened #1094 "Translation issue on stock_no_negative fr"
Hello,

(minor issue - not directly linked to the code)

Special chars are converted to `??` in `stock_no_negative/i18n/fr.po`
https://github.com/OCA/stock-logistics-workflow/blob/17b3425f30abc82e48267777967c182d30a54bb9/stock_no_negative/i18n/fr.po

Note : Below sed/vim  substistutions to clean the text.
[code]

[2022-09-29 06:30] pedrobaeza commented on #1094
Please go to Weblate (you can do it through the badge of the README) and change it accordingly.

[2022-09-29 06:30] #1094 closed, assigned to nobody

[2022-09-29 07:45] flachica commented on #913
stock_putaway_hook https://github.com/OCA/stock-logistics-workflow/pull/1095

[2022-09-29 13:03] luffah commented on #1094
Done (2 minutes on vim, 15 min on weblate... no search replace feature found)

[2022-10-03 17:04] OCA-git-bot opened #1101 "Migration to version 16.0"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-16.0

# Modules to migrate

- [ ] delivery_procurement_group_carrier - By @rousseldenis - #1158
- [x] delivery_total_weight_from_packaging - By @QuocDuong1306 - #1365
- [x] procurement_auto_create_group_carrier - By @sebalix - #1718
- [x] product_cost_price_avco_sync - By @pedrobaeza - #1877
- [x] product_expiry_simple - By

[2022-10-10 12:12] jjscarafia commented on #1101
working on stock_picking_sale_order_link on PR https://github.com/OCA/stock-logistics-workflow/pull/1108

[2022-10-22 06:09] vvanneri-ia commented on #1101
working on stock_no_negative PR #1112

[2022-10-26 18:01] sergio-teruel opened #1117 "[15.0] stock_picking_mass_action: Is needed this module for v15??"
Hi.

After a functional review i think that this module is not needed for v15.
Odoo core already allow to check availability, validate, unreserve for multiple pickings.

![Selección_1505](https://user-images.githubusercontent.com/7689807/198101585-0fa1e485-d21f-4d6b-abe9-d4297e215d6c.png)

@rousseldenis @pedrobaeza @LoisRForgeFlow What do you think about it?

[2022-10-26 18:06] legalsylvain commented on #1117
If yes, could you make the according PR on openupgrade ?
Thanks !

[2022-10-26 19:49] rousseldenis commented on #1117
@sergio-teruel There are also Mark as Todo and Check Availability in the wizard action.

[2022-10-26 20:38] sergio-teruel commented on #1117
Is it an important reason to keep maintaining this module?
For me, no. But if you think otherwise, for me no problem..

[2022-10-27 06:54] rousseldenis commented on #1117
Through that module life, it has evolved following Odoo core evolutions too (as mass actions changed), so, why not ?

[2022-10-27 06:59] sergio-teruel commented on #1117
Ok.
So I close this issue

[2022-10-27 07:00] #1117 closed, assigned to nobody

[2022-11-06 12:42] #964 closed, assigned to nobody

[2022-11-06 12:42] #965 closed, assigned to nobody

[2022-11-11 18:09] FranciscoBigWings opened #1129 "[V14] stock_move_line_auto_fill in componentes of a MO"
## Module
stock_move_line_auto_fill

**Affected versions**: V14

## Describe the bug
In a enviroment where manufactured products and materials used are tracked by lot numbers, in a manufacture order (MO) it is not possible to fill automatically the lot numbers of the materials (already in stock). The components without lot number are filled automatically but not the components tracked by lot numbe

[2022-11-20 12:40] #972 closed, assigned to nobody

[2022-11-21 10:38] otmanelagy commented on #1101
stock_picking_back2draft merged here #1124

[2022-11-25 11:42] MiquelRForgeFlow commented on #913
please update the issue with https://github.com/OCA/OpenUpgrade/commit/01a1e9ed87e460ea81190387c83de57d4b1c86ad and https://github.com/OCA/OpenUpgrade/commit/274e51de4279b12b0e4af765e85e6f613f0991bd.